<!DOCTYPE html>
<html>
<head>
    <title>About</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='opt/bootstrap/css/bootstrap.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}"/>
</head>

<body>
    <div class="container">
        <div id="ContentContainer">
            <div class="LogoTitle">About</div>
            <div>
            Stuff
            </div>
        </div>
    </div>
</body>

</html>

