{% extends "about_base.html" %}

{# ------------------------------------------------------------------------- #}
{% block about_content %}
<div class="Title">
    What is Project Awesome?
</div>

<div class="SectionText">
    We built Project Awesome with two goals in mind:
    <ol class="BigList">
        <li>Define and spread your life's awesomeness.</li>
        <li>Share in the awesomeness of others.</li>
    </ol>
</div>
<div class="SectionText">
    Chats and status updates and cool and all.
</div>
<div class="SectionText">
    But what is the personal
    meaning behind everything? What really matters to people in the world?
    What are people doing to think about and move towards their grand visions
    in life?
</div>
<div class="SectionText">
    This is what Project Awesome is all about.
</div>

<div class="SectionHeading">Getting Started</div>
<div class="SectionText">
Getting started is simple.
</div>
<div class="SectionText">
Join and put together your own personal board
that reflects your own life thoughts, goals, and ambitions. Browse other
vision boards and join our amazing and inspirational community of people 
working on making their life and the world awesome!
</div>

<div class="SectionHeading">Creating Visions</div>
<div class="SectionText">
You can add a vision to your own board in three ways:
<ol class="LittleList">
<li><b>Upload</b>:
Once you join, click the 'Add Vision' button in the top
navigation bar. You will be prompted to upload an image of your choosing, as
well as a text description of what this vision personally means to you.
</li>
<li><b>Repost</b>:
While browsing other visions, a 'Repost' button will appear
when you hover your mouse over the vision. By clicking this button, you will
automatically create your own copy of vision on your board.
</li>
<li><b>Post It bookmarklet</b>: You can use our Post It bookmarklet to create
a vision with a great picture on the web. For more information on how to
install and use the bookmarklet, 
<a href="{{ url_for('about_postmarklet') }}">go here</a>!
</li>
</ol>
</div>

<div class="SectionHeading">Your Vision Board</div>
<div class="SectionText">
You may add <b>up to 20 visions</b> to your vision board. We put a limit here
for a purpose: your vision board should be a focused representation of what
you value and what matters to you.
</div>

<div class="SectionHeading">Sharing with Others</div>
<div class="SectionText">
Have friends on the site? Found awesome people you would like to
connect with? You can follow them by simply going to their profile
and clicking on the 'Follow' button! Keep track of all the awesomeness by
clicking on the 'Friends' tab in the top navigation bar to see a feed of recent
activity.
</div>

<div class="SectionHeading">Play nice and be cool :)</div>
<div class="SectionText">
Project Awesome is a community
of people what have dreams, want the best for themselves, and the best for
others. 
</div>
<div class="SectionText">
Please be nice, stay support, and inspirational. It is easy to
be negative and put down others but that does nothing good for the world. Don't
be uncool.
</div>

{% if user == None %}
<div style="text-align: center; margin-top:30px;">
    <a class="btn btn-large btn-info" href="{{ url_for('index') }}">
        Choose some visions
    </a>
    <span style="margin: 0px 20px;">~ or ~</span>
    <a class="btn btn-large btn-primary" href="{{ url_for('register') }}">
        Register and get started
    </a>
</div>
{% endif %}

<div class="SectionHeading">Enjoy!</div>
<div class="SectionText">
As well as being generally awesome, we like to think of Project Awesome as a
great tool for visualization. Click on the button below to learn more!
</div>

<center>
<a class="btn btn-large btn-success" href="{{ url_for('visualization')}}">
    Learn more about visualization
</a>
</center>

<div class="LargeSpacer"></div>

{% endblock %}

{# $eof #}
