<!DOCTYPE html>
<html>
<head>
    <title>Project Awesome | {% block subtitle %} {% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='opt/bootstrap/css/bootstrap.css') }}"/>
    {% block css %}
    {% endblock %}

    {% block header_js %}
    {% endblock %}
</head>

<body>
    <div id="NavBar">
        <div style="position: relative; width:940px; margin:0px auto;
                    z-index:1;">
            <div class="LogoTitle" style="text-align:center; padding-top:8px;">
                <a id="NavHome" href="/">Project [AWESOME]</a>
            </div>

            <div style="position: absolute; top:0px; right:0px;">
                <span id="AddItemButton" style="display:none;">
                    + Vision
                </span>
                <a class="NavButton" href="{{ url_for('about') }}">
                    About
                </a>
                {% if user and user != None %}
                <a id="NavProfile" class="NavButton" href="/profile">
                    {{ user['firstName'] }}
                </a>
                <a id="NavSettings" class="NavButton" href="{{ url_for('settings')}}">
                    Settings
                </a>
                <a id="NavLogout" class="NavButton" href="/logout">
                    Logout
                </a>
                {% endif %}
            </div>
        </div>

        {% block nav_extra %}
        {% endblock %}
    </div>

    <div id="PageContainer">
        <div class="container">
        {% block content %}
        {% endblock %}
        </div>
    </div>

    <div id="Footer">
    Copyright 2012, Project Awesome, All rights reserved.
    <a href="{{ url_for("terms")}}">Privacy & Terms</a>
    </div>
</body>

{% block js %}

{% endblock %}

</html>

