<!DOCTYPE html>
<html>
<head>
    <title>Project Awesome | {% block subtitle %} {% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='opt/bootstrap/css/bootstrap.css') }}"/>
    {% block css %}
    {% endblock %}

    {% block header_js %}
    {% endblock %}
</head>

<body>
    
    <div id="headerBar">
        <div class="logo">
            <a href="/">Project [AWESOME]</a>
        </div>

        <div id="navigationButtons">
            <span>+ Vision</span>
            <a href="{{ url_for('about') }}">About</a>

            {% if user and user != None %}
                <a href="/profile">{{ user['firstName'] }}</a>
                <a href="/logout">Logout</a>
            {% endif %}
        </div>

        {% block nav_extra %}
        {% endblock %}
    </div>

    <div class="container-fluid">
    {% block content %}
    {% endblock %}
    </div>

    <div id="footer">
        &copy; 2012 Project Awesome
        <a href="{{ url_for("terms")}}">Privacy & Terms</a>
    </div>
</body>

{% block js %}

{% endblock %}

</html>

