<!DOCTYPE html>
<html>
<head>
    <title>Project Awesome | {% block subtitle %} {% endblock %}</title>
    
    <meta name="viewport" content="width=675px;">

    {% if not config['PROD'] %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='opt/bootstrap/css/bootstrap.css') }}"/>
    {% endif %}
    
    {% block css %}
    {% endblock %}

    {% block header_js %}
    {% endblock %}

    <!-- start Mixpanel -->
    <script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,
e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);

    //Configure for production
    {% if config['PROD'] %}
        mixpanel.init("d5e3315a6adb260a5adac0231c1c98c2");
    {% else %}
        mixpanel.init("cd2adc3d807fc7ca85a36b350ee47df4");
    {% endif %}
</script>
<!-- end Mixpanel -->


</head>

<body>

    {% if config['PROD'] %}
    <!-- Google Analytics -->
    <script type="text/javascript">
    
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37592785-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {% endif %}

    <!-- TODO:               
                2. Responsive
    -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        
        <!-- TODO: make this an eimage so we can fix side -->
        <!-- Side spacing -->
        <div id="NavigationMain">
            <a id="Logo" class="brand" href="/">Project [AWESOME]</a>
        </div>
        
        <ul class="nav pull-right">
          
          {#------------ User Is Logged In ------------#}
          {% if user is none or user is not defined%} 
          
            <!--<li><a href="/">Main</a></li>-->
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="/login">Login</a></li>
          
          {% else %}
          {#------------ User Is Logged In ------------#}
          
            {######### Extra Nav #########}
            {% block nav_extra %}
            {% endblock %}
        
            <!--
            <li id="NavigationMain">
                <a href="/">Main</a>
            </li>
            -->
            
            <li id="NavigationHome">
                <a href="{{ url_for('index') }}">Home</a>
            </li>
            <li id="NavigationFeed">
                <a href="/">Friends</a> 
            </li>
            <li id="NavigationProfile">
              <a href="/user/{{ user['id'] }}">
                <img id="NavProfilePicture" src="{{ user['picture'] }}"/>
                {{ user['firstName'] }}
              </a>
            </li>

            <li class="dropdown">
                <a id="settingsDropdown" class="dropdown-toggle" data-toggle="dropdown" href="#" >
                    <i class="icon-cog"></i>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="aboutDropdown">
                    <li><a href="{{ url_for('settings')}}">Settings</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </li>
          {% endif %}

          
        </ul>

      </div>
        {######### Header Information bar #########}
        {% block header_info %}
        {% endblock %}
    </div>

    <div id="PageContainer" class="container-fluid">
        <div id="NavPadding"></div>
    {% block content %}
    {% endblock %}
        <div id="FooterPadding"></div>
    </div>

    <footer id="footer">
        &copy; 2013 Project Awesome
        <a href="{{ url_for("terms")}}">Privacy &amp; Terms</a>
    </footer>
</body>

    {% if not config['PROD'] %}
<script type="text/javascript" src="{{ url_for('static', filename='opt/jquery-1.7.2.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='opt/bootstrap/js/bootstrap.min.js') }}"></script>
    {% endif %}

{% block js %}
{% endblock %}

</html>

