<!DOCTYPE html>
<html>
<head>
    <title>Create Vision</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='opt/bootstrap/css/bootstrap.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/create.css') }}"/>

<body>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37592785-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<div class="container">
    <div id="media">
        <img src="{{ mediaUrl }}"/>
    </div>

    <div id="info">
        <!-- Post to same page -->
        <form class="form" method="POST" action="">
            <div class="control-group">
                <textarea rows="4" id="descriptionInput" type="textarea" name="text" value="{{ mediaDescription }}" placeholder="Describe your vision..."></textarea>
            </div>

            <label class="checkbox">
                <input id="private" type="checkbox" {{ checkText }} name="private"/> Private
            </label>

            <button id="submitButton" type="submit" class="btn btn-primary">Post It</button>

            <input type="hidden" name="mediaUrl" value="{{ mediaUrl }}"/>
            <input type="hidden" name="pageUrl" value="{{ pageUrl }}"/>
            <input type="hidden" name="pageTitle" value=" {{ pageTitle }}"/>

        </form>
    </div>
<div>

</body>
</html>

