<html>
<head>
    <title>Project AWESOME</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='opt/bootstrap/css/bootstrap.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}"/>
</head>

<body>
    <div class="container">
        <div id="ContentContainer">
            <div class="LogoTitle">Project AWESOME</div>

                Time to level up homie...

            <div id="MasonryContainer"></div>
        </div>
    </div>

</body>

<script type="text/javascript" src="{{ url_for('static', filename='opt/jquery-1.7.2.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='opt/jquery-ui-1.8.20/js/jquery-ui-1.8.15.custom.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='opt/jquery.masonry.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='opt/underscore.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='opt/backbone.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='opt/bootstrap/js/bootstrap.min.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='opt/date.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/home.js') }}"></script>

<script type="text/template" id="VisionTemplate">
<div class="MasonryItemInner">
    <%= text %>
</div>
</script>

<script type="text/template" id="VisionImageTemplate">
<div class="MasonryItemInner">
    <div style="margin-top: 50px; margin-bottom:50px;">
    <%= text %>
    </div>
</div>
</script>

</html>

