{% extends "base.html" %}


{# -----------Subtitle----------- #}
{% block subtitle %}Home{% endblock %}

  
{# -----------CSS----------- #}
{% block css %}

    {% if config['PROD'] %}
    <link rel="stylesheet" type="text/css" href="{{ s3_asset('css/home.min.css') }}"/>
    {% else %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}"/>
    {% endif %}

{% endblock %}


{# -----------JS----------- #}
{% block header_js %}
<script type="text/javascript">
    {% if user != None %}
        var USER = { id: '{{ user['id'] }}',
                     email: '{{ user['email'] }}',
                     firstName: '{{ user['firstName'] }}',
                     lastName: '{{ user['lastName'] }}',
                     picture: '{{ user['picture'] }}',
                     description: '{{ user['description'] }}',
                     visionPrivacy: '{{ user['visionPrivacy'] }}',
                   }
    {% else %}
       var USER = { id: -1,
                    email: 'Invalid',
                    firstName: "Invalid",
                    lastName: "Name",
                    picture: "",
                    description: "",
                    visionPrivacy: -1,
           }
    {% endif %}
</script>
{% endblock %}

{# ----------- Extra Navigation ----------- #}
{% block nav_extra %}
            <li><a id="AddVision" href="#">Add Vision</a></li>
{% endblock %}

{# ----------- Header Information ----------- #}
{% block header_info %}

    <!-- The Explanation -->
    <!--
    <div id="Explanation" class="Hidden" style="background:url('{{ url_for('static', filename='img/explanation.png') }}'); background-size:contain;">
    </div>
    -->

    <!-- Onboarding -->
    <div id="Instructions" class="well Hidden">
      <a href="{{ url_for('register') }}" id="RegularRegisterButton" class="btn btn-primary MainButton">
        Or Sign Up
      </a>

      <div class="Tagline">
        Create and share your personal <a href="{{ url_for('about') }}">vision board</a>.
      </div>
      <div class="InstructionsNote">
        <span id="SelectedZero">Get started by adding 3 images of the life you want!</span>
        <span id="SelectedOne" class="Hidden">
          <b>Good job!</b> Choose 2 more!
        </span>
        <span id="SelectedTwo" class="Hidden">
          <b>Nice!</b> Choose 1 last one!
        </span>
        <div id="SelectedThree" class="Hidden">
          <div class="Text"><span class="emphasis">Great job!</span> You did it.</div>
          <button id="ViewExampleVisionBoardButton" class="Hidden btn btn-success MainButton">
            See Your Vision Board!
          </button>
        </div>
      </div>
    </div>

    <!-- Pass the selected visions to register -->
    

    <div id="ExampleVisionBoardInstructions" class="well Hidden">
      
      <form id="RegisterForm" action="{{ url_for("register") }}" method="POST">
        <input id="UserSelectedVisions" type="hidden" name="selectedVisions" value=""/>
        <button id="JoinSite" type="submit" class="btn btn-success MainButton">Join us!</button>  
      </form>

      <div class="Motivation">
        <!--We will help you focus on these goals daily. <br/>-->
        <div class="emphasis">Nice!</div>
        <div class="SmallSpacer"></div>
        Save your board and join our awesome online community!
      </div>
    </div>

    <!-- Onboarding -->
    

{% endblock %}



{# -----------Main Container----------- #}
{% block content %}

    <!-- Main Content -->
    <div id="ExplanationPadding" class="Hidden"></div>

    <div id="HomePagePadding" class="Hidden"></div>
    <div id="InstructionsPadding" class="Hidden"></div>

    <div id="UserInformation" class="Center Hidden"></div>
    <div id="Content" class="Center Hidden"></div>
    <div id="Feed" class="Center Hidden">
        <div id="FeedContent"></div>
    </div>
    <div id="ExampleVisionBoard" class="Center Hidden"></div>
    <div id="VisionInformation" class="hide">Vision</div>

    <!-- Modal for vision details -->
    <div id="VisionDetailsModal" class="hide"></div>

    <!-- Modal for user lists: follows, followers, likes, etc -->
    <div id="UserListModal" class="modal hide fade"></div>

    <!-- Modal for Add Vision -->
    <div id="AddVisionModal" class="modal hide fade">
        <div class="modal-header" style="font-size:18pt">
            New Vision
        </div>
        <div class="modal-body">

            <div style="float:left;">
                <form id="FileUploadForm" method="post"
                    enctype="multipart/form-data"
                    action="{% if user != None %}{{ url_for('apiFileUpload', userId=user['id']) }}{% else %}/bogusfileupload/blahblahblah{% endif %}"
                    target="FileUploadTarget"
                    style="margin: 5px; border: 0px; padding: 0px;">
                    <input id="FileUploadInput" name="picture" type="file"
                           style="width:300px;"/>
                    <br/>
                    <iframe id="FileUploadTarget" name="FileUploadTarget"
                            src=""
                            style="width:0px;height:0px;border:0px; solid #fff;">
                    </iframe>
                </form>
                <div style="margin: 5px;">
                    <textarea id="InputText" class="RichTextArea input-xlarge"
                            name="text"
                            style="width:300px; height:70px; font-size:15px;
                                  margin-left: 5px;"
                            placeholder="Describe your goal concretely and in the present tense. (ex: I have rock solid 6-pack abs!)"></textarea>
                    <div style="margin-left: 15px;">
                    <input id="InputVisionPrivacy" type="checkbox"
                            style="position:relative; top: -3px;"
                            name="visionPrivacy"/>
                    Private vision
                    </div>
                </div>
            </div>
            <div style="float:right; width: 175px; margin-top:10px;">
                <div id="FileUploadNoPreview"
                     style="width:150px; height:85px; padding-top: 65px;
                            background-color:#EEEEEE; text-align: center;">
                    No image
                </div>
                <div id="FileUploadLoading"
                     style="display:none;
                            width:150px; height:100px; padding-top:50px;
                            background-color:#EEEEEE; text-align: center;">
                    Loading..<br/>
                    <img src="{{ url_for('static', filename="img/ProgressBar.gif") }}"/>
                </div>
                <div id="FileUploadInvalid"
                     style="display:none; color: red;
                            width:150px; height:80px; padding-top: 70px;
                            background-color:#EEEEEE; text-align: center;">
                    Invalid upload
                </div>

                <div id="FileUploadImageContainer"
                     style="display:none; max-height:150px; overflow:hidden;">
                    <img id="FileUploadImage" src=""
                        style="width: 150px;"/>
                </div>
            </div>
            <div style="clear:both; height:20px;"></div>

            <div style="float:right;">
                <div class="btn btn-large" data-dismiss="modal">Close</div>
                <div id="AddVisionSubmit"
                class="btn btn-primary btn-large" disabled="disabled">
                    Add Vision
                </div>
            </div>
        </div>
    </div>

    <!-- Modal For Onboarding -->
    <div id="OnboardingModal" data-backdrop="static" class="modal hide fade">
        <div class="modal-header">
            <h1>Welcome to your Vision Board!</h1>
        </div>
        <div class="modal-body">
            
            <!-- Explanation -->
            <div id="OnboardingPage1" class="">
                <h3>
                    This is your home for your dreams.
                </h3>
                <h3>
                    You will achieve everything on here if you look at this page at least 2 times daily (<a target="_BLANK" href="{{ url_for('about') }}">Success Stories</a>).
                </h3>

            </div>

            <div id="OnboardingPage2" class="hide">
                <h2>
                    Lets add a couple more goals.
                </h2>  
                <br/>
                <h2>
                    Drag this button to your bookmarks bar --> 
                     <a id="postmarklet" href="
                    javascript: void((function (doc) {
                        var repinCode = doc.createElement('script');
                        repinCode.setAttribute('type', 'text/javascript');
                        repinCode.setAttribute('charset', 'UTF-8');
                        repinCode.setAttribute('src', 'https://s3.amazonaws.com/project-awesome-static/gen/js/postmarklet.js?r=' + Math.random() * 99999999);
                        doc.body.appendChild(repinCode);
                    })(document));
                    ">
                        <img src="{{ url_for('static', filename='img/postit-transparent.png') }}" alt="Post It Button"/>
                    </a>
                </h2>
            </div>

            <div id="OnboardingPage3" class="hide">
                <h2>
                    Now open a new browser window, <br/>
                    go to a page with a picture of your goal <br/>
                    and click the button.  
                    <small>(Tip: Try Google images) </small>
                                <!--You can upload your own pictures by clicking <span class="emphasis muted">Add Vision</span>.-->
                    <br/>
                    <br/>
                    Try it now!
                </h2>
            </div>

            <div id="OnboardingPage4" class="hide">
                <h2>
                    Awesome Job! You did it.
                </h2>
                <h2>
                    We will remind you about your dreams :).
                    Let's add 2 more goals and check out your friends' dreams!
                </h2>
            </div>

           <!-- <h4>Now post <span class="text-success">2</span> more dreams on here!</h4>
            <h4>We hope you enjoy this and may all of your dreams come true! :)</h4>
            -->

        </div>
        <div class="modal-footer">
            <!-- Explore the Language: 1st person vs 2nd person vs 3rd person:I want to get started, Let's get started, get started. -->
            <!--<a href="#" aria-hidden="hidden" class="btn btn-primary">Let's get started!</a>-->
            <a id="onboardingButton" href="#" aria-hidden="hidden" class="btn btn-primary">Okay!</a>
        </div>
    </div>

{% endblock %}


{# ------------JS------------ #}
{% block js %}

    {% if config['PROD'] %}
<script type="text/javascript" src="{{ s3_asset('js/home.min.js') }}"></script>
    {% else %}
<script type="text/javascript" src="{{ url_for('static', filename='opt/jquery-ui-1.8.20/js/jquery-ui-1.8.15.custom.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='opt/jquery.masonry.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='opt/underscore.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='opt/backbone.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='opt/date.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/Util.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/Global.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/models/User.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/collections/UserList.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/models/Picture.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/models/Like.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/models/VisionComment.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/collections/VisionCommentList.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/models/Vision.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/collections/VisionList.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/models/Activity.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/collections/ActivityList.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/models/Page.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/views/UserInformation.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/views/Like.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/views/VisionComment.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/views/VisionDetailsComment.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/views/VisionDetails.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/views/Vision.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/views/UserList.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/views/Activity.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/views/Page.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/routers/Router.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/home.js') }}"></script>
    {% endif %}
    
<script type="text/template" id="PageLoadingTemplate">
<div style="text-align:center;">
    Loading...
</div>
</script>

<script type="text/template" id="HomePageLoadErrorTemplate">
<div style="text-align:center;">
    Error: <a href="#" id="ReloadHome">try again</a>
</div>
</script>

<script type="text/template" id="ProfileLoadErrorTemplate">
<div style="text-align:center;">
    Error: <a href="#" id="ReloadProfile">try again</a>
</div>
</script>

<script type="text/template" id="VisionLikeTemplate">
    <span class="VisionLike <%= likeVisibility %>">
        <%= likeText %>
    </span>
    <span class="VisionLikeCount">
        <i class="<%= thumbVisibility %> VisionThumbsUp icon-thumbs-up"/> 
        <%= likeCount %>
    </span>
</script>

<!-- HTML dynamically generated for a vision -->
<script type="text/template" id="VisionTemplate">

<!-- //Image -->
<img class="VisionPicture <%= pictureClass %>"
     src="<%= pictureUrl %>" alt="<%= alt %>"/>

<!-- //Description -->
<div class="text">
    <%= text %>
</div>

<div class="VisionUserBlock"
     style="display: <%= nameDisplay %>;">
    Shared by
    <a class="VisionUserName" href="user/<%= userId %>"><%= name %></a>
    <span class="<%= parentUserVisibility %>">via
        <a class="VisionUserName" href="user/<% parentUserId %>">
            <%= parentUserName %>
        </a>
    </span>
</div>
<div class="VisionLikeInfo"></div>
<div class="MoreComments <%= moreCommentsVisibility %>">More comments</div>
<div class="VisionCommentContainer"></div>
<div class="AddVisionComment <%= addCommentVisibility %>">
    <img class="AddVisionCommentProfile" src="<%= profile %>"/>
    <input class="AddVisionCommentInput" type="text"
           placeholder="<%= commentPrompt %>"></input>
</div>

<!-- //Overlay -->
<div class="VisionOverlay">        
       
    <!-- //Repost Vision -->
    <div class="Repost Overlay Hidden">
        <button class="btn btn-small btn-primary">Repost</button>
    </div>

    <!-- //Move Vision -->
    <div class="Move Overlay Hidden">
        <div class="btn btn-small">
            <i class="icon-move"/>
        </div>
    </div>

</div>

<!-- //Add Vision (Not Logged In) -->
<div class="VisionIsPrivate <%= visionPrivateVisibility %>">
    <button class="btn btn-small disabled">
        <i class="icon-lock"/>
    </button>
</div>

<!-- //Add Vision (Not Logged In) -->
<div class="AddVisionNotAuthenticated Hidden">
    <button class="btn btn-success">Add to my Vision Board</button>
</div>

<!-- //Remove Vision (Not Logged In) -->
<div class="RemoveVisionNotAuthenticated <%= removeButtonVisibility%>">
    <button class="btn btn-inverse">Remove</button>
</div>

</script>

<!-- Vision Comments -->
<script type="text/template" id="VisionCommentTemplate">
    <img class="VisionCommentProfile" src="<%= picture %>"/>
    <a class="VisionCommentUserLink" href="/user/<%= authorId %>">
        <%= name %>
    </a>
    <br>
    <%= text %>
    <div class="VisionLikeInfo"></div>
</script>

<script type="text/template" id="VisionDetailsCommentTemplate">
    <img class="VisionDetailsCommentProfile" src="<%= picture %>"/>
    <a class="VisionDetailsCommentUserLink"
       href="/user/<%= authorId %>" <%= urlTarget %>>
        <%= name %>
    </a>
    <div class="VisionDetailsCommentText">
        <%= text %>
    </div>
    <span class="VisionLikeInfo"></span>
    <span class="VisionDetailsCommentTime">
        <%= created %>
    </span>
</script>

<script type="text/template" id="VisionDetailsRepostUserTemplate">
    <a href="/user/<%= userId %>" <%= target %>>
    <img class="VisionDetailsRepostUserPicture" src="<%= picture %>"/>
    <div class="VisionDetailsRepostUserName"><%= name %></div>
    </a>
</script>

<script type="text/template" id="VisionPreviewTemplate">
    <a href="/vision/<%= visionId %>" <%= target %>>
    <img class="VisionPreviewPicture" src="<%= picture %>"/>
    </a>
</script>

<script type="text/template" id="VisionDetailsRootUserTemplate">
    <div id="VisionDetailsSectionTitle">
        Originally posted by
        <a href="/user/<%= userId %>" <%= target %>>
            <%= name %>
        </a>
    </div>
    <div id="VisionDetailsRootUserVisions">
    </div>
</script>

<script type="text/template" id="VisionDetailsModalTemplate">
    <div id="VisionDetailsModalBox">
        <div class="modal-header">
            <div id="VisionDeleteButton"
                 class="<%= deleteVisibility %>">
                Delete vision
            </div>
            <a href="/user/<%= userId %>" 
               id="VisionDetailsName" <%= urlTarget %>>
                <%= name %>
            </a>
            <span class="<%= parentUserVisibility %>">
            via
            <a href="/user/<%= parentUserId %>" 
               id="VisionDetailsName" <%= urlTarget %>>
                <%= parentUserName %>
            </a>
            <span>

        </div>
        <div class="modal-body">
            <div id="VisionDetailsPictureContainer">
                <img id="VisionDetailsPicture" src="<%= picture %>"/>
            </div>
            <div id="VisionDetailsInfoContainer">
                <div id="VisionDetailsTextContainer">
                    <div id="VisionDetailsEditText" class="hide btn btn-small">
                        Edit
                    </div>
                    <span id="VisionDetailsText"><%= text %></span>
                </div>
                <div id="VisionDetailsEditForm" class="hide">
                    <textarea id="VisionDetailsTextInput"><%= text %></textarea>
                    <div id="VisionDetailsPrivacyBox">
                        <input id="VisionDetailsPrivacyInput" type="checkbox"
                                style="position:relative; top: -3px;"
                                name="visionPrivacy"
                                <%= isPrivate %> />
                        Private
                    </div>
                    <div id="VisionDetailsEditSubmit"
                         class="btn btn-small btn-primary"
                         disabled="disabled">
                       Submit
                    </div>
                </div>
            </div>
            <div id="VisionDetailsEditError" class="Hidden"
                 style="color:red;"></div>
            <span class="VisionLikeInfo"></span>
            <span id="VisionDetailsTimeCreated">
                <%= created %>
            </span>
            <span class="VisionDetailsLock <%= lockVisibility %>"
                  style="margin-left: 15px;">
                <i class="icon-lock"/>
            </span>

            <div id="VisionDetailsCommentsContainer"></div>

            <div id="VisionDetailsAddCommentContainer"
                 class="<%= addCommentVisibility %>">
                <img id="VisionDetailsAddCommentPicture"
                     src="<%= userPicture %>"/>
                <textarea id="VisionDetailsAddComment" type="text"
                    placeholder="<%= commentPrompt %>"></textarea>
            </div>
            <div id="VisionDetailsRepostUsersContainer"
                 class="VisionDetailsSection Hidden">
                <div id="VisionDetailsSectionTitle">
                    People who share this vision
                </div>
                <div id="VisionDetailsRepostUsers">
                </div>
            </div>
            <div id="VisionDetailsRootUserContainer"
                 class="VisionDetailsSection">
            </div>
        </div>
        <div class="modal-footer">
            <div id="VisionDetailsClose"
                 class="btn btn-medium <%=closeVisibility %>">Close</div>
        </div>
    </div>
</script>

<script type="text/template" id="UserInformationTemplate">
      <img id="UserProfilePicture" src="<%= picture %>"/>
      <div id="UserName"><%= name %></div>
      <div id="UserDescription" class="<%= descDisplay %>"><%= desc %></div>
      <div id="NoUserDescription"
           class="<%= noDescDisplay%> NoUserDescriptionNotActive">
        Click to add description...
      </div>
      <div id="SetUserDescriptionContainer" class="hide">
          <textarea id="UserDescriptionInput" type="text"
                    placeholder="Add description.."><%= desc %></textarea>
          <button id="UserDescriptionSubmit" class="btn btn-primary">
            Save description
          </button>
          <div id="UserDescriptionLength"></div>
      </div>
      <div class="FollowButton <%= followButtonColor %> <%= followButtonVisibility %> btn">
        <%= followButtonText %>
      </div>
      <div id="UserInformationBar">
        <span class="Follows">
            Follows: <span class="FollowCount"><%= followCount %></span>
        </span>
        &nbsp;&nbsp;
        <span class="Followers">
            Followers: <span class="FollowerCount"><%= followerCount %></span>
        </span>
      </div>
</script>

<script type="text/template" id="UserTemplate">
<img class="Picture" src="<%= picture %>"/>
<div class="Name">
    <a href="/user/<%= userId %>"><%= name %></a>
</div>
<div class="Description"><%= description %></div>
<% if (follow != null) { %>
<div class="FollowButton btn
            <% if (follow==false) { %>
            btn-primary
            <% } %>">
            <% if (follow==false) { %>
            Follow
            <% } else { %>
            Unfollow
            <% } %>
<% } %>
</div>
</script>

<script type="text/template" id="UserListTemplate">
<div class="modal-header" style="font-size:18pt">
    <%= listName %>
</div>
<div class="UserListBody modal-body"></div>

<div class="modal-footer">
    <a href="#" data-dismiss="modal" aria-hidden="hidden"
       class="btn btn-primary">Close</a>
</div>
</script>

<script type="text/template" id="ActivityJoinSiteTemplate">
<img class="Picture" src="<%= picture %>"/>
<a class="UserLink" href="/user/<%= userId %>"><%= name %></a> 
joined Project Awesome.
</script>

<script type="text/template" id="ActivityAddVisionTemplate">
<img class="Picture" src="<%= picture %>"/>
<a class="VisionUserLink" href="/user/<%= userId %>"><%= name %></a> 
posted a
<a class="VisionLink" href="/vision/<%= visionId %>">vision</a>.

<div class="VisionContainer"></div>
</script>

<script type="text/template" id="ActivityLikeVisionTemplate">
<img class="Picture" src="<%= picture %>"/>
<a class="VisionLikerLink" href="/user/<%= userId %>"><%= name %></a> 
likes
<a class="VisionUserLink" href="/vision/<%= visionUserId %>">
<%= visionUserName %>'s</a> vision.

<div class="VisionContainer"></div>
</script>

<script type="text/template" id="ActivityLikeVisionCommentTemplate">
<img class="Picture" src="<%= picture %>"/>
<a class="CommentLikerLink" href="/user/<%= userId %>"><%= name %></a> 
likes
<!--
<a class="AuthorLink" href="/user/<%= authorUserId %>">
<%= authorUserName %>'s</a> 
-->
a comment on 
<a class="VisionUserLink" href="/user/<%= visionUserId %>">
<%= visionUserName %>'s</a> 
vision.

<div class="VisionContainer"></div>
</script>

<script type="text/template" id="ActivityCommentOnVisionTemplate">
<img class="Picture" src="<%= picture %>"/>
<a class="AuthorLink" href="/user/<%= userId %>"><%= name %></a> 
commented on 
<a class="VisionUserLink" href="/user/<%= visionUserId %>">
    <%=visionUserName %>'s
</a>
vision.

<div class="VisionContainer"></div>
</script>

<script type="text/template" id="ActivityFollowTemplate">
<img class="Picture" src="<%= picture %>"/>
<a class="UserLink" href="/user/<%= userId %>"><%= name %></a> 
is following 
<a class="FollowingUserLink" href="/user/<%= followingUserId %>">
<%= followingName %></a>.
</script>

{% endblock %}

{# $eof #}
