{% extends "base.html" %}


{# -----------Subtitle----------- #}
{% block subtitle %}Home{% endblock %}

  
{# -----------CSS----------- #}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}"/>
{% endblock %}


{# -----------JS----------- #}
{% block header_js %}
<script type="text/javascript">
    {% if user != None %}
        var USER = { id: '{{ user['id'] }}',
                     firstName: '{{ user['firstName'] }}',
                     lastName: '{{ user['lastName'] }}',
                     picture: '{{ user['picture'] }}',
                     description: '{{ user['description'] }}',
                     visionPrivacy: '{{ user['visionPrivacy'] }}',
                   }
    {% else %}
       var USER = { id: -1,
                    firstName: "Invalid",
                    lastName: "Name",
                    picture: "",
                    description: "",
                    visionPrivacy: -1,
           }
    {% endif %}
</script>
{% endblock %}

{# ----------- Extra Navigation ----------- #}
{% block nav_extra %}
            <li><a id="AddVision" href="#">Add Vision</a></li>
{% endblock %}

{# ----------- Header Information ----------- #}
{% block header_info %}
    <!-- Onboarding -->
    <div class="well" id="Instructions">
      Create your own inspirational <a href="{{ url_for('about') }}">Vision Board</a> in under 30 seconds.
      <div>
        <span id="SelectedZero">Get started by choosing 3 visions!</span>
        <span id="SelectedOne" class="SelectedEmph Hidden">Good Job! Chose 2 more pictures!</span>
        <span id="SelectedTwo" class="SelectedEmph Hidden">Nice! Now chose one more!</span>
        <span id="SelectedThree" class="Hidden">
          <button id="ViewExampleVisionBoardButton" class="btn btn-primary">See Your Vision Board!</button>
        </span>
      </div>
    </div>

    <!-- Pass the selected visions to register -->
    <form id="RegisterForm" class="Hidden" action="{{ url_for("register") }}" method="POST">
      <input id="UserSelectedVisions" type="hidden" name="selectedVisions" value=""/>
    </form>

    <div id="ExampleVisionBoardInstructions" class="well Hidden">
        Congrats on starting your vision board!
      <br/>
      <button id="JoinSite" class="btn btn-success">Register to save it and start living your dreams!</a>  
    </div>

{% endblock %}



{# -----------Main Container----------- #}
{% block content %}

    <!-- Main Content -->
    <div id="InstructionsPadding"></div>
    <div id="UserInformation" class="Center">
      <img id="UserProfilePicture" src="https://s3.amazonaws.com/project-awesome-img/img/default-profile-picture.jpg"/>
      <div id="UserName"></div>
      <div id="UserDescription"></div>
      <div id="NoUserDescription" class="NoUserDescriptionNotActive"></div>
      <div id="SetUserDescriptionContainer" class="hide">
          <textarea id="UserDescriptionInput" type="text"
                    placeholder="Add description.."></textarea>
          <button id="UserDescriptionSubmit" class="btn btn-primary">
            Save description
          </button>
          <div id="UserDescriptionLength"></div>
      </div>
    </div>
    <div id="Content" class="Center"></div>
    <div id="ExampleVisionBoard" class="Center"></div>


    <!-- Modal for vision details -->
    <div id="VisionDetailsModal" class="modal hide fade">
        <div class="modal-header">
            <div id="VisionDeleteButton">Delete vision</div>
            <div id="VisionDetailsName"></div>
        </div>
        <div class="modal-body">
            <div id="VisionDetailsPictureContainer">
                <center>
                    <img id="VisionDetailsPicture"/>
                </center>
            </div>
            <div id="VisionDetailsInfo">
                <span id="VisionDetailsText"></span>
            </div>
            <div id="VisionDetailsCommentsLoading">Loading comments...</div>
            <div id="VisionDetailsCommentsContainer"></div>

            <div id="VisionDetailsAddCommentContainer">
                <img id="VisionDetailsAddCommentPicture"/>
                <textarea id="VisionDetailsAddComment" type="text"
                    placeholder="Add comment"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn btn-medium" data-dismiss="modal">Close</div>
        </div>
    </div>

    <!-- Modal for Add Vision -->
    <div id="AddVisionModal" class="modal hide fade">
        <div class="modal-header" style="font-size:18pt">
            New Vision
        </div>
        <div class="modal-body">

            <div style="float:left;">
                <form id="FileUploadForm" method="post"
                    enctype="multipart/form-data"
                    action="{% if user != None %}{{ url_for('apiFileUpload', userId=user['id']) }}{% else %}/bogusfileupload/blahblahblah{% endif %}"
                    target="FileUploadTarget"
                    style="margin: 5px; border: 0px; padding: 0px;">
                    <input id="FileUploadInput" name="picture" type="file"
                           style="width:300px;"/>
                    <br/>
                    <iframe id="FileUploadTarget" name="FileUploadTarget"
                            src=""
                            style="width:0px;height:0px;border:0px; solid #fff;">
                    </iframe>
                </form>
                <div style="margin: 5px;">
                    <textarea id="InputText" class="RichTextArea input-xlarge"
                            name="text"
                            style="width:300px; height:70px; font-size:15px;
                                  margin-left: 5px;"
                            placeholder="Describe your vision"></textarea>
                </div>
            </div>
            <div style="float:right; width: 175px; margin-top:10px;">
                <div id="FileUploadNoPreview"
                     style="width:150px; height:85px; padding-top: 65px;
                            background-color:#EEEEEE; text-align: center;">
                    No image
                </div>
                <div id="FileUploadLoading"
                     style="display:none;
                            width:150px; height:100px; padding-top:50px;
                            background-color:#EEEEEE; text-align: center;">
                    Loading..<br/>
                    <img src="{{ url_for('static', filename="images/ProgressBar.gif") }}"/>
                </div>
                <div id="FileUploadInvalid"
                     style="display:none; color: red;
                            width:150px; height:80px; padding-top: 70px;
                            background-color:#EEEEEE; text-align: center;">
                    Invalid upload
                </div>

                <div id="FileUploadImageContainer"
                     style="display:none; max-height:150px; overflow:hidden;">
                    <img id="FileUploadImage" src=""
                        style="width: 150px;"/>
                </div>
            </div>
            <div style="clear:both; height:20px;"></div>

            <div style="float:right;">
                <div class="btn btn-large" data-dismiss="modal">Close</div>
                <div id="AddVisionSubmit"
                class="btn btn-primary btn-large" disabled="disabled">
                    Add Vision
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{# ------------JS------------ #}
{% block js %}

<script type="text/javascript" src="{{ url_for('static', filename='opt/jquery-ui-1.8.20/js/jquery-ui-1.8.15.custom.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='opt/jquery.masonry.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='opt/underscore.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='opt/backbone.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='opt/date.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/home.js') }}"></script>
    
<script type="text/template" id="PageLoadingTemplate">
<div style="text-align:center;">
    Loading...
</div>
</script>

<script type="text/template" id="HomePageLoadErrorTemplate">
<div style="text-align:center;">
    Error: <a href="#" id="ReloadHome">try again</a>
</div>
</script>

<script type="text/template" id="ProfileLoadErrorTemplate">
<div style="text-align:center;">
    Error: <a href="#" id="ReloadProfile">try again</a>
</div>
</script>

<!-- HTML dynamically generated for a vision -->
<script type="text/template" id="VisionTemplate">

<!--//A Vision -->

<!-- //Vision Content-->     
<!-- //Image -->
<img src="<%= pictureUrl %>" alt="<%= text %>"/>

<!-- //Description -->
<div class="text">
    <%= text %>
</div>

<div class="VisionUserBlock"
         style="display: <%= nameDisplay %>;">
        Shared by
        <a class="VisionUserName" href="user/<%= userId %>"><%= name %></a>
    </div>
    <div class="VisionCommentContainer"></div>
    <div class="AddVisionComment <%= addCommentVisibility %>">
        <input class="AddVisionCommentInput" type="text"
               placeholder="Write comment"
               style="width:250px; margin-top:5px;"></input>
    </div>
</div>

<!-- //Overlay -->
<div class="VisionOverlay">        
       
    <!-- //Repost Vision -->
    <div class="Repost Overlay Hidden">
        <button class="btn btn-small btn-primary">Repost</button>
    </div>

    <!-- //Move Vision -->
    <div class="Move Overlay Hidden">
        <div class="btn btn-small">
            <i class="icon-move"/>
        </div>
    </div>

</div>


<!-- //Add Vision (Not Logged In) -->
<div class="AddVisionNotAuthenticated Hidden">
    <button class="btn btn-success">Add to my Vision Board</button>
</div>

<!-- //Add Vision (Not Logged In) -->
<div class="AlreadyHaveVision <%= haveVisionVisibility %>">
    <button class="btn">On my vision board</button>
</div>

<!-- //Remove Vision (Not Logged In) -->
<div class="RemoveVisionNotAuthenticated <%= removeButtonVisibility%>">
    <button class="btn btn-inverse">Remove</button>
</div>

</script>

<!-- Vision Comments -->
<script type="text/template" id="VisionCommentTemplate">
    <img class="VisionCommentProfile" src="<%= picture %>"/>
    <a class="VisionCommentUserLink" href="/user/<%= authorId %>">
        <%= name %>
    </a>
    <br>
    <%= text %>
</script>

<script type="text/template" id="VisionDetailsCommentTemplate">
    <img class="VisionDetailsCommentProfile" src="<%= picture %>"/>
    <a class="VisionDetailsCommentUserLink" href="/user/<%= authorId %>">
        <%= name %>
    </a>
    <div class="VisionDetailsCommentText">
        <%= text %>
    </div>
</script>


{% endblock %}

{# $eof #}
