{% extends "base.html" %}

{# ------------------------------------------------------------------------- #}
{% block subtitle %}
Register
{% endblock %}

{# ------------------------------------------------------------------------- #}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/register.css') }}"/>
{% endblock %}

{# ------------------------------------------------------------------------- #}
{% block header_js %}
{% endblock %}

{# ------------------------------------------------------------------------- #}
{% block content %}
        <div class="row">
          <div id="RegisterContainer">
                
                <h1>Login</h1>

                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category == "LoginError" %}
                     <div class="ErrorNotice"><b>Error</b>: {{ message }}</div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <form action="{{ url_for('login') }}" class="form-horizontal" method="POST">
                  
                  <div class="control-group">
                    <label class="control-label" for="email">Email</label>
                    <div class="controls">
                      <input id="EmailInput" class="RegisterField InputLarge"
                             placeholder="Email"
                             type="text" name="email"/>
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label" for="password">Password</label>
                    <div class="controls">
                      <input class="RegisterField InputLarge"
                             placeholder="Password"
                             type="password" name="password"/>
                    </div>
                  </div>

                  <div class="control-group">
                    <div class="controls">
                      <button type="submit"
                              class="SubmitButton btn btn-primary btn-large">
                        Login
                      </button>
                    </div>
                  </div>

                </form>
            </div>

        </div>
{% endblock %}

{# ------------------------------------------------------------------------- #}
{% block js %}

<script type="text/javascript" src="{{ url_for('static', filename='opt/jquery.placeholder.js') }}"></script>

<script>
$(document).ready(function() {
    $("#EmailInput").focus();
});
</script>

{% endblock %}

{# $eof #}
