{% extends "base.html" %}

{# ------------------------------------------------------------------------- #}
{% block subtitle %}
Register
{% endblock %}

{# ------------------------------------------------------------------------- #}
{% block css %}
    {% if config['PROD'] %}
    <link rel="stylesheet" type="text/css" href="{{ s3_asset('css/base.min.css') }}"/>
    {% else %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/register.css') }}"/>
    {% endif %}
{% endblock %}

{# ------------------------------------------------------------------------- #}
{% block header_js %}
{% endblock %}

{# ------------------------------------------------------------------------- #}
{% block content %}
        <div class="row">
          <div id="RegisterContainer">
                
                <h1>Login</h1>

                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category == "LoginError" %}
                     <div class="ErrorNotice"><b>Error</b>: {{ message }}</div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <form action="{{ url_for('login') }}"
                      class="form-vertical" method="POST">
                  
                  <div class="control-group">
                    <div class="controls">
                      <input id="EmailInput" class="RegisterField InputLarge"
                             placeholder="Email"
                             type="text" name="email"/>
                    </div>
                  </div>

                  <div class="control-group">
                    <div class="controls">
                      <input class="RegisterField InputLarge"
                             placeholder="Password"
                             type="password" name="password"/>
                    </div>
                  </div>
                  
                  <input type="hidden" name="next" value="{{ next or None }}"/>
                  <input type="hidden" name="id" value="{{ id or None }}"/>

                  <div class="control-group">
                    <div class="controls">
                      <button type="submit"
                              class="SubmitButton btn btn-primary btn-large">
                        Login
                      </button>
                    </div>
                  </div>

                </form>
            </div>

        </div>
{% endblock %}

{# ------------------------------------------------------------------------- #}
{% block js %}

    {% if config['PROD'] %}
<script type="text/javascript" src="{{ s3_asset('js/base.min.js') }}"></script>
    {% else %}
<script type="text/javascript" src="{{ url_for('static', filename='opt/jquery.placeholder.js') }}"></script>
    {% endif %}

<script>
$("#EmailInput").focus();
</script>

{% endblock %}

{# $eof #}
