{% extends "about_base.html" %}

{# ------------------------------------------------------------------------- #}
{% block about_content %}
<div class="Title">
    Post your favorite images
</div>

<div class="SectionHeading">Postmarklet button</div>
<div class="SectionText">
<a href="
javascript: void((function (doc) {
    var repinCode = doc.createElement('script');
    repinCode.setAttribute('type', 'text/javascript');
    repinCode.setAttribute('charset', 'UTF-8');
    repinCode.setAttribute('src', 'https://s3.amazonaws.com/project-awesome-static/gen/js/postmarklet.js?r=' + Math.random() * 99999999);
    doc.body.appendChild(repinCode);
})(document));
">Post it</a>
</div>
<div class="SectionText">
Drag this to your bookmarks bar.
</div>

{% endblock %}

{# $eof #}
