{% extends "base.html" %}

{# ------------------------------------------------------------------------- #}
{% block subtitle %}
Register
{% endblock %}

{# ------------------------------------------------------------------------- #}
{% block css %}
{% endblock %}

{# ------------------------------------------------------------------------- #}
{% block header_js %}
{% endblock %}

{# ------------------------------------------------------------------------- #}
{% block content %}
    <div class="row">
        <div class="center span4">

            <h1>Register</h1>

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category == "RegisterError" %}
                 <div class="ErrorNotice"><b>Error</b>: {{ message }}</div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <form action="{{ url_for('register_user') }}" method="POST"
                  class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="firstName">
                        First Name
                    </label>
                    <div class="controls">
                        <input class="RegisterField"
                               type="text" name="firstName"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="lastName">
                        Last Name
                    </label>
                    <div class="controls">
                        <input class="RegisterField"
                               type="text" name="lastName"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="email">
                        Email
                    </label>
                    <div class="controls">
                        <input class="RegisterField" type="text" name="email"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="password">
                        Password
                    </label>
                    <div class="controls">
                        <input class="RegisterField"
                               type="text" name="password"/>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}

{# ------------------------------------------------------------------------- #}
{% block js %}
{% endblock %}

{# $eof #}
