{% extends "base.html" %}

{# ------------------------------------------------------------------------- #}
{% block subtitle %}
Register
{% endblock %}

{# ------------------------------------------------------------------------- #}
{% block css %}
    {% if config['PROD'] %}
    <link rel="stylesheet" type="text/css" href="{{ s3_asset('css/base.min.css') }}"/>
    {% else %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/register.css') }}"/>
    {% endif %}
{% endblock %}

{# ------------------------------------------------------------------------- #}
{% block header_js %}
{% endblock %}

{# ------------------------------------------------------------------------- #}
{% block content %}
    <div class="row">
        <div id="RegisterContainer">
            <h1>Let's get started!</h1>

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category == "RegisterError" %}
                 <div class="ErrorNotice"><b>Error</b>: {{ message }}</div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <form action="{{ url_for('register_user') }}" method="POST"
                  class="form-vertical">
                <div class="control-group">
                    <div class="controls">
                        <input id="FirstNameInput"
                               class="RegisterField InputSmall"
                               placeholder="First Name"
                               type="text" name="firstName"/>
                       <input class="RegisterField InputSmall InputSmallRight"
                               placeholder="Last Name"
                               type="text" name="lastName"/>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <input class="RegisterField InputLarge"
                               placeholder="Email"
                               type="text" name="email"/>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input class="RegisterField InputLarge"
                               placeholder="Password"
                               type="password" name="password"/>
                    </div>
                    <div class="Hint">
                    Must be 6 or more characters.
                    </div>
                </div>
                <div class="control-group">
                    <button type="submit"
                            class="SubmitButton btn btn-primary btn-large">
                        Register
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{# ------------------------------------------------------------------------- #}
{% block js %}

    {% if config['PROD'] %}
<script type="text/javascript" src="{{ s3_asset('js/base.min.js') }}"></script>
    {% else %}
<script type="text/javascript" src="{{ url_for('static', filename='opt/jquery.placeholder.js') }}"></script>
    {% endif %}

<script>
$("#FirstNameInput").focus();
</script>

{% endblock %}

{# $eof #}
