<!DOCTYPE html>
<html>
<head>
    <title>Register</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='opt/bootstrap/css/bootstrap.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}"/>
</head>

<body>
    <div class="container">
        <div id="ContentContainer">
            <div class="LogoTitle">Register</div>

            <form>
                First Name: <input class="RegisterField" type="text" name="firstName"/>
                <br>
                Last Name: <input class="RegisterField" type="text" name="lastName"/>
                <br>
                Email: <input class="RegisterField" type="text" name="email"/>
                <br>

                Username: <input class="RegisterField" type="text" name="userName"/>
                <br>
                Password: <input class="RegisterField" type="password" name="password"/>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</body>

</html>

