{% extends "base.html" %}

{# ------------------------------------------------------------------------- #}
{% block subtitle %}
Settings
{% endblock %}

{# ------------------------------------------------------------------------- #}
{% block css %}
    {% if config['PROD'] %}
    <link rel="stylesheet" type="text/css" href="{{ s3_asset('css/base.min.css') }}"/>
    {% else %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}"/>
    {% endif %}
{% endblock %}

{# ------------------------------------------------------------------------- #}
{% block header_js %}
<script type="text/javascript">
var USER = { id: '{{ user['id'] }}',
             firstName: '{{ user['firstName'] }}',
             lastName: '{{ user['lastName'] }}',
             email: '{{ user['email'] }}',
             description: '{{ user['description'] }}',
             visionPrivacy: '{{ user['visionPrivacy'] }}',
           }
</script>
{% endblock %}

{# ------------------------------------------------------------------------- #}
{% block content %}
        <!-- Content -->
        <div id="SettingsBox">
            <div class="page-header TextCenter">            
                <h1 class="title">Settings</h1>
            </div>

            <div id="ProfilePictureContainer">
                <img id="ProfilePicture" src="{{ user['picture'] }}"/>

                <form action="{{url_for("api_change_picture") }}" method="post" enctype="multipart/form-data">
                    <input type="file" name="picture"></input><br>
                    <input type="submit" class="btn btn-primary btn-small"
                           value="Use new picture"></input>
                </form>
            </div>

            <form method="POST" class="form-horizontal"
                action="{{ url_for('api_change_info') }}"
                style="padding-top: 20px; overflow: auto;">
                <div class="control-group">
                    <label class="control-label" for="firstName">
                    </label>
                    <div class="controls">
                        <input id="FirstNameInput"
                               class="RegisterField InputSmall"
                               placeholder="First"
                               value="{{ user['firstName'] }}"
                               type="text" name="firstName"/>
                        <input id="LastNameInput"
                               class="RegisterField InputSmall"
                               style="margin-left:10px;"
                               placeholder="Last"
                               value="{{ user['lastName'] }}"
                               type="text" name="lastName"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="email">
                    </label>
                    <div class="controls">
                        <input id="EmailInput"
                               class="RegisterField InputLarge"
                               placeholder="Email"
                               value="{{ user['email'] }}"
                               type="text" name="email"/>
                    </div>
                </div>
                <div class="control-group" style="margin-bottom:0px;">
                    <label class="control-label" for="description">
                    </label>
                    <div class="controls">
                        <textarea id="DescriptionInput"
                               class="RegisterField"
                               placeholder="Add a bio or description.."
                               type="text" name="description"
                               style="height: 100px;"
                               >{{ user['description'] }}</textarea>

                    </div>
                </div>
                <div id="DescriptionLengthLeft"
                    style="text-align:right; margin-right: 97px;
                           padding: 5px 10px; color: gray;">
                    200
                </div>
                <div class="control-group"
                     style="margin-top:-15px; margin-bottom: 5px;">
                    <div class="controls">
                        <input id="VisionPrivacyInput" type="checkbox"
                               style="position:relative; top: -3px;"
                               {% if user['visionPrivacy'] %}
                               checked
                               {% endif %}
                               name="visionPrivacy"/>
                        New visions default are public.
                    </div>
                </div>

                <div class="control-group" style="float:right;">
                    <button id="SettingsSubmitInput"
                            type="submit"
                            class="SubmitButton btn btn-primary btn-large"
                            disabled="disabled">
                        Submit
                    </button>
                </div>
            </form>
        </div>      
{% endblock %}

{# ------------------------------------------------------------------------- #}
{% block js %}

    {% if config['PROD'] %}
<script type="text/javascript" src="{{ s3_asset('js/base.min.js') }}"></script>
    {% else %}
    {% endif %}

<script type="text/javascript">

// Constants
var MAX_USER_DESCRIPTION_LENGTH = 200;

function nameValid(firstName) {
    return firstName.length > 0;
}

// From: http://www.w3schools.com/js/js_form_validation.asp
function emailValid(email) {
    var atpos=email.indexOf("@");
    var dotpos=email.lastIndexOf(".");
    if ((atpos < 1) ||
        (dotpos < (atpos + 2)) ||
        ((dotpos + 2) >= email.length)) {
        return false;
    }
    return true;
}

function toggleSubmit() {
    var firstName = $("#FirstNameInput").val();
    var lastName = $("#LastNameInput").val();
    var email = $("#EmailInput").val();

    var change = false;
    var invalid = false;

    if (firstName != USER['firstName']) {
        change = true;
        if (!nameValid(firstName)) {
            invalid = true;
        }
    }
    if (lastName != USER['lastName']) {
        change = true;
        if (!nameValid(lastName)) {
            invalid = true;
        }
    }
    if (email != USER['email']) {
        change = true;
        if (!emailValid(email)) {
            invalid = true;
        }
    }
    var desc = $.trim($("#DescriptionInput").val());
    var descLength = desc.length;
    var lengthLeft = MAX_USER_DESCRIPTION_LENGTH - descLength;
    $("#DescriptionLengthLeft").html(lengthLeft);
    if (desc != USER['description']) {
        change = true;
        if (lengthLeft < 0) {
            invalid = true;
        }
    }
    if ($("#VisionPrivacyInput").is(":checked") != USER['visionPrivacy']) {
        change = true;
    }

    console.log("change: " + change + "  invalid: " + invalid + " desc: " + desc);
    if (true == change && false == invalid) {
        $("#SettingsSubmitInput").removeAttr("disabled");
    } else {
        $("#SettingsSubmitInput").attr("disabled", "disabled");
    }
}

$(document).ready(function() {
    $("#FirstNameInput").keyup(toggleSubmit);
    $("#FirstNameInput").bind("paste", toggleSubmit);
    $("#FirstNameInput").bind("cut", toggleSubmit);
    $("#LastNameInput").keyup(toggleSubmit);
    $("#LastNameInput").bind("paste", toggleSubmit);
    $("#LastNameInput").bind("cut", toggleSubmit);
    $("#EmailInput").keyup(toggleSubmit);
    $("#EmailInput").bind("paste", toggleSubmit);
    $("#EmailInput").bind("cut", toggleSubmit);
    $("#DescriptionInput").keyup(toggleSubmit);
    $("#DescriptionInput").bind("paste", toggleSubmit);
    $("#DescriptionInput").bind("cut", toggleSubmit);
    $("#VisionPrivacyInput").change(toggleSubmit);

    toggleSubmit();
});
</script>

{% endblock %}

{# $eof #}
