<!DOCTYPE html>
<html>
<head>
    <title>Success!</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='opt/bootstrap/css/bootstrap.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/successCreatingVision.css') }}"/>

<body>
    
<div class="container">
    
    <div class="content">
    		<h1>Success!</h1>
    		<a href="/profile" target="_BLANK">See your vision</a>
	</div>
<div>

</body>
</html>

