{% extends "about_base.html" %}

{# ------------------------------------------------------------------------- #}
{% block about_content %}

<div class="Title">
    Terms of Service
</div>

<div class="SectionText">
Thank you for volunteering to take part in the testing of Project Awesome.
With your help, we hope to build a delightful product that positively affects
the lives of our users and the world.
As we are in the early stages of development, we do not have a lawyer. So, 
here is the temporary terms of service, for in case something bad happens.
</div>

<div class="SectionHeading">
  In short.
</div>
<div class="SectionText">
  We will try to be good, but are not liable for any content, data, or privacy
  on this site.
</div>

<div class="SectionHeading">
    The slightly longer version.
</div>
<div class="SectionText">
Project Awesome is very early in the development process.  Therefore, we can not
guarantee anything. We would love to maintain your information and privacy. But
bugs exist. Furthermore, we are still figuring out how to design this site.
Thus, at any point, your data may be accidentally changed, lost,
and/or leaked. In some cases, your data will be purposefully modified and/or
deleted for testing.
</div>
<div class="SectionText">
We allow users to enter their own content, including any text and images they
own. The user retains rights to their own content. The user grants us a 
non-exclusive, royalty-free, transferable, sublicensable, worldwide license to
use, display, reproduce, repost, modify, re-arrange, and
distribute your content. We will do what we can to maintain the integrity of
this site. Illegal and pornographic content may be removed. As mentioned
above, so may any of your other content.
</div>
<div class="SectionText">
By using this product, you understand that you are participating in the testing
of this product, and release us of any and all liability.
</div>
<div class="SectionText">
One day, when we grow up, we will get a lawyer
and try to provide some real guarantees for terms of service and privacy. Until then, you agree to live
dangerously with Project Awesome.
</div>
<div class="SectionText">
If there are any issues, you agree to first contact us at:
<a href="mainto:projectAwesomer@gmail.com">projectAwesomer@gmail.com</a>.
</div>

{% endblock %}

{# $eof #}
