{% extends "about_base.html" %}

{# ------------------------------------------------------------------------- #}
{% block about_content %}
<div class="Title">
    Visualization
</div>

<div class="SectionText">
One way to view Project Awesome as a collection of vision boards.
</div>

<div class="SectionHeading">Why does it work?</div>
<div class="SectionText">
It works because what you are essentially doing is focusing your subconscious mind on
what you want in life, which will direct your actions to accomplish these things,
without you even realizing it.  This is a very powerful technique called Visualization 
used by the most successful people in the world.  
<br/>
<br/>
However this is still a very well kept secret.
Our mission is to spread the knowledege and improve your life.

<br/>
<br/>   
To understand the psychology behind this technique, keep on reading. 

</div>



<div class="SectionHeading">Who does it?</div>
<div class="SectionText">
Oprah, Bill Gates, Tiger Woods, Arnold Schwarzenegger, Anthony Robbins,
Jack Canfield, Will Smith, Jim Carey, Bruce Lee, and many many other
succesful people.
</div>

<div class="SectionHeading">What is a visualization?</div>
<div class="SectionText">
A <b>vision</b> is a person, thing, or concept that appears vivid
and credible to your mind. It symbolizes something which will or may
come to be. When chosen properly, a vision resonates with you to your
core. It encompasses something you truly value and want within your life.
</div>
<div class="SectionText">
<b>Visualization</b> is the process of using one's mind to
to vividly picture visions of our own choosing.
By putting and keeping visions at the forefront of one's minds, we
focus our attention and energy on what really matters to us in life.
With the right visions, the visualization becomes extremely powerful. It
helps us keep our values and goals in mind, sets the direction for our
actions, and determines where we are moving in life.
</div>

<div class="SectionHeading">Example: Jim Carey's $10M check</div>
<div class="SectionText">
When he was trying to break into the acting world in 1987, Jim Carey
wrote himself a check for $10,000,000 for "acting services rendered"
and dated it to Thanksgiving 1995.  He carried it around in his wallet and 
looked at it every day for 8 years. Two months before Thanksgiving in
1995 he received $10,000,000 for his role in Dumb and Dumber.
</div>
<div class="SectionText">
Hear about it straight from Jim Carey in the video!
</div>
<div class="Video">
    <iframe width="500" height="280" frameborder="0" scrolling="no" src="http://www.oprah.com/common/omplayer_embed.html?article_id=32972"></iframe>
</div>

{% if user == None %}
<div style="text-align: center; margin-top:30px;">
    <a class="btn btn-large btn-info" href="{{ url_for('index') }}">
        Choose some visions
    </a>
    <span style="margin: 0px 20px;">~ or ~</span>
    <a class="btn btn-large btn-primary" href="{{ url_for('register') }}">
        Register and get started
    </a>
</div>
{% endif %}

<div class="SectionHeading">The importance of visions</div>
<div class="SectionText">

    <div class="QuoteBlock">
        <div class="Quote">
        What the mind of man can conceive and believe, it can achieve.
        </div>
        <div class="AboutQuoteAttribution">
        - Napoleon Hill
        </div>
    </div>

In 1908, <a href="http://en.wikipedia.org/wiki/Andrew_Carnegie" target="_blank">Andrew Carnegie</a>, the steel magnate who built Carnegie
Steel Company, commissioned
<a href="http://en.wikipedia.org/wiki/Napoleon_Hill" target="_blank">
Napoleon Hill</a> to study success. Carnegie believed that the process of
success could be outlined into a simple formula, accessible to anyone.
He asked Napoleon Hill to study over 500 men and woman, and publish a
Philosophy of Personal Achievement.
</div>

<div class="SectionText">
<img style="float: right; margin: 10px; width: 150px;" src="https://s3.amazonaws.com/project-awesome-static/gen/img/think-and-grow-rich-cover.jpg"/>
Nearly three decades later, Napoleon Hill published the landmark book
<a href="http://en.wikipedia.org/wiki/Think_and_Grow_Rich" target="_blank">
Think and Grow Rich</a> on this Philosophy of Personal Achievement.
After 70 years, it is still a perennial best-seller, and is often
heralded as the original personal development book. It has inspired man
modern icons, such as
<a href="http://en.wikipedia.org/wiki/Tony_Robbins" target="_blank">
Tony Robbins</a>, as well as been the seed of many modern personal
development books, including the 2006 best-selling self-help book
<a href="http://en.wikipedia.org/wiki/The_Secret_(book)" target="_blank">
The Secret</a>, by Rhonda Byrne.
</div>

<div class="SectionText">
<b>Definite Major Purpose</b>.
Hill presents the concept of a Definite Major
Purpose and tells readers to be clear on an important questions:
in what do I truly believe? According to Hill, 98% of people have few 
or no firm beliefs, and this along puts success out of reach.
</div>

<div class="SectionText">
<b>Creating a Burning Desire</b>.
Once one has developed a definite purpose, and is clear on it, it is
necessary to cultivate a burning desire at achieve the purpose. This
involves writing down your purpose, and looking at it multiple times a
day. It involves keeping the purpose at the top of your mind so that you
are constantly planning and taking steps towards your major purpose.
</div>

<div class="SectionText">
Visions and visualization fit exactly with developing a Definite Major
Purpose, and creating a burning desire. When chosen properly, your visions
are your major purpose. They resonate with you, and symbolize exactly who
you want to be in the future. Visualization keeps the visions at the top of
your mind, and help you cultive a burning desire. Ultimately, taking action
is up to you, but the tools of visions and the process of visualization
are incredibly powerful.
</div>

<div class="SectionText">
Here is a <a href="http://www.soilandhealth.org/03sov/0304spiritpsych/030413.hill.think.and.grow.rich.pdf" target="_blank">free copy of this original classic</a>, generously provided by the Australian Soil and Health online library, as
well as an interesting video of Napoleon Hill on personal success.
</div>
<div class="Video">
    <iframe width="420" height="315" src="http://www.youtube.com/embed/2hA-7aq6OXI" frameborder="0" allowfullscreen></iframe>
</div>

<div class="SectionHeading">Example: Bruce Lee's Definite Chief Aim.</div>
<div class="SectionText">
Before he became an international icon and super star,
<a href="http://en.wikipedia.org/wiki/Bruce_Lee" target="_blank">
Bruce Lee</a> wrote
himself a letter detailing his definite chief aim.

    <center>
    <img style="margin: 20px; width: 400px;" src="https://s3.amazonaws.com/project-awesome-static/gen/img/bruce-lee-letter-to-self.jpg"/>
    </center>

The text: I, Bruce Lee, will be the first highest paid Oriental super
star in the United States. In return I will give the most
exciting performances and render the best of quality in 
the capacity of an actor. Starting 1970
I will achieve world fame and from then onward till the end of 1980 I
will have in my possession $10,000,000. I will live the way I please and
achieve inner harmony and happiness.
</div>
<div class="SectionText">
He acted upon this burning desire and followed up with five classic
films in the next decade: The Big Boss (1971), First of Fury (1972),
Way of the Dragon (1972), Enter the Dragon (1973), and The Game of
Death (1978). He shot to superstardom and is now one of the iconic legends
in martial arts and in film.
</div>

{% if user == None %}
<div style="text-align: center; margin-top:30px;">
    <a class="btn btn-large btn-info" href="{{ url_for('index') }}">
        Choose some visions
    </a>
    <span style="margin: 0px 20px;">~ or ~</span>
    <a class="btn btn-large btn-primary" href="{{ url_for('register') }}">
        Register and get started
    </a>
</div>
{% endif %}

<div class="SectionHeading">What is a vision board?</div>
<div class="SectionText">
A <b>vision board</b> is a useful tool for visualization. It is simply a
board of visions used to remind oneself of what matters in life.
People typically put vision boards in prominent locations, such as their
bedroom or office space, to constantly remind themselves about their
visions.
    <center>
    <img style="margin: 20px; width: 400px;" src="https://s3.amazonaws.com/project-awesome-static/gen/img/vision-board-example-wisewellwoman-flickr.jpg"/>
    <div class="PhotoCredit">
    An example vision board, made of magazine cutouts. <br/>
    Photo credit:
    <a href="http://www.flickr.com/photos/wisewellwoman/" target="_blank">
    WiseWellWoman @ Flickr</a>
    </div>
    </center>
</div>
<div class="SectionText">
Building a vision board is all about defining your Major Definite
Purpose. By choosing the visions to place on your board, you are
explicitly putting down who you want to be, and where you want your
life to look like in the future.
</div>
<div class="SectionText">
On of our major goals at Project Awesome is to make it easy to create
meaningful personal vision boards. If you don't know what you want, feel
free to browse other vision boards. You will begin to get an idea of what
resonates with you and what doesn't. Take your time building your board,
and understand that it might change over time. The important thing is that
you continually work at it, and make your visions perfectly clear to
yourself.
</div>

<div class="SectionHeading">Sharing your visions.</div>
<div class="SectionText">
One of the other goals is to help people share visions. There are many
benefts to putting your visions out there for the world to see.
</div>
<div class="SectionText">
<b>Makes your visions real</b>.
First, the act of sharing makes your intentions real. It means that you
publicly state what you are about, who you want to be, and where you want 
to go.
</div>
<div class="SectionText">
<b>Inspiration</b>.
Second, you may inspire others. As Napoleon Hill states, 98% of people are
not clear on their goals. By sharing your own, you provide examples to
other people about visions that resonate with you. This means that others
can repost your visions and incorporate them into their own hopes and
dreams.
</div>
<div class="SectionText">
<b>Interaction and support</b>.
Third, it allows for interaction with the rest of the world. Most likely,
there are many others that share the visions as you. We hope to build a
community where people can share and support each other in the journey
towards their visions.
</div>
<div class="SectionText">
Some visions, often the best visions, are so big, so audacious, that they
scare us to think about. They make us question ourselves, and what we are
made out of. If you are comfortable sharing them, great! But there are
visions that seem fragile, and for those, we allow people to mark visions
as <b>private</b>. Simply create or edit your vision to be private, and
you can keep it to yourself.
</div>

<div class="SectionHeading">Cultivating your visions.</div>
<div class="SectionText">
Building your vision board is an important step. But beyond that, it is
important to keep your visions at the top of our mind, and create a
burning desire to attain them. We support this is several ways.
</div>
<div class="SectionText">
<b>Daily reminders and inspiration</b>.
Each morning, we send out an email with a random vision on your board, and
other inspirational content. These provide a perfect time and place to
reflect upon your visions, and plan out your day.
</div>
<div class="SectionText">
<b>Social support and interaction</b>.
As mentioned above, we hope to build a strong supportive community. Don't
be shy about reposting and commenting on other vision boards. Remember,
every comment draws the original user to come back, think about, and then
interact with their vision. By fostering a strong community, people will
be helping others keep their visions at the top of their minds.. an
important step to cultivating that burning desire to achieve their visions!
</div>
<div class="SectionText">
If you haven't already, build yourself a vision board and join our
community!
</div>

{% if user == None %}
<div style="text-align: center; margin:30px 0px;">
    <a class="btn btn-large btn-info" href="{{ url_for('index') }}">
        Choose some visions
    </a>
    <span style="margin: 0px 20px;">~ or ~</span>
    <a class="btn btn-large btn-primary" href="{{ url_for('register') }}">
        Register and get started
    </a>
</div>
{% endif %}

<div class="SectionHeading">More on visualization: Will Smith, Arnold Schwarzenegger, Tiger Woods, Michael Phelps, and more!</div>
<div class="Video">
    <iframe class="Video" width="420" height="315" src="http://www.youtube.com/embed/OWAw7gxfB7Q#t=78s" frameborder="0" allowfullscreen></iframe>
</div>
<div class="SectionText">
    <div class="QuoteBlock">
        <div class="Quote">
        There is a redemptive power that making a choice has.
        Make a choice. Just decide what its going to be, who your going to be, how you're going to do it... We are who we choose to be.
        </div>
        <div class="AboutQuoteAttribution">
        - Will Smith
        </div>
    </div>
</div>
<div class="Video">
    <iframe width="420" height="315" src="http://www.youtube.com/embed/hvOUVil7W5s" frameborder="0" allowfullscreen></iframe>

</div>
<div class="SectionText">
    <div class="QuoteBlock">
        <div class="Quote">
        You can detect right away those that will be shakey.. and those
        that are hungry. That hunger you have to develop.. 
        you have to create a goal.. whatever if may be.. 
        if you do not see it, and if you do not believe it, who else will?
        </div>
        <div class="AboutQuoteAttribution">
        - Arnold Schwarzenegger
        </div>
    </div>
</div>
<div class="Video">
    <iframe width="420" height="315" src="http://www.youtube.com/embed/QEaWv0SBp3A" frameborder="0" allowfullscreen></iframe>
</div>
<div class="SectionText">
    <div class="QuoteBlock">
        <div class="Quote">
        It helped me understand a different part of my creativity.
        I could never fathom someone saying "visualize a golf shot".
        Well I see this ball going every-which way. My mind will not let
        me do it. He said I just want you to feel it: use your hands,
        use your fingers, use
        your body awareness to harness your creativity that way and come
        up with an answer. He was very instrumental in teaching me how to
        control my creative mind.
        </div>
        <div class="AboutQuoteAttribution">
        - Tiger Woods on being coached to harness creative visualization
        </div>
    </div>
</div>
<div class="Video">
    <iframe width="420" height="315" src="http://www.youtube.com/embed/Htw780vHH0o" frameborder="0" allowfullscreen></iframe>
</div>
<div class="SectionText">
    <div class="QuoteBlock">
        <div class="Quote">
        He is the best I've ever seen, and maybe the best ever, in terms
        of visualization. He will see exactly the perfect race. And he
        will see it like he is sitting in the stands, and he'll see it like
        he is in the water. And then he will go through scenarios, what 
        if things don't go well.  So he has all of this in his database,
        so when that when he swims to race, he has already programmed his
        nervous system to do one of them.
        </div>
        <div class="AboutQuoteAttribution">
        - Bob Bowman (Michael Phelp's coach) on Michael Phelps
        </div>
    </div>
</div>

<div class="Video">
    <iframe width="420" height="315" src="http://www.youtube.com/embed/LbExMNxsOjE" frameborder="0" allowfullscreen></iframe>
</div>
<div class="SectionText">
Visualizing Goals - Olympic Athlete Nick Symmonds for Melaleuca
</div>

{% if user == None %}
<div style="text-align: center; margin:30px 0px;">
    <a class="btn btn-large btn-info" href="{{ url_for('index') }}">
        Choose some visions
    </a>
    <span style="margin: 0px 20px;">~ or ~</span>
    <a class="btn btn-large btn-primary" href="{{ url_for('register') }}">
        Register and get started
    </a>
</div>
{% endif %}

{% endblock %}

{# $eof #}
