<html>
 <head>
  <title>
   You have a message!
  </title>
 </head>
 <body style="color: #505050; font-family: Arial; font-size: 14px; line-height: 150%; text-align: left; color: #505050; font-family: Arial; font-size: 14px; line-height: 150%; text-align: left">
  <p>
   Hi {{ userToEmail.firstName() }}!
  </p>
  <p>
   <a href="{{full_url_for('user_profile', userId=authorUser.id()) }}">
    {{ authorUser.fullName() }}
   </a>
   has left a comment on
   {% if authorUser.id() == visionUser.id() %}
   their own vision:
   {% else %}
   <a href="{{ full_url_for('user_profile', userId=visionUser.id()) }}">
    {{ visionUser.fullName() }}
   </a>
   's 
   vision:
   {% endif %}
  </p>
  <p>
   <i>
    {{ comment.text() }}
   </i>
  </p>
  <p>
   <a href="{{ full_url_for('vision_page', visionId=vision.id()) }}">
    Check out the vision, and respond!
   </a>
  </p>
  <p>
   Cheers,
   <br />
   - The Project Awesome Team
  </p>
 </body>
</html>
