<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- Facebook sharing information tags -->
  <meta property="og:title" content="{{ title }}" />
  <title>
   {{ title }}
  </title>
 </head>
 <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="color: #505050; font-family: Arial; font-size: 14px; line-height: 150%; text-align: left; width: 100%; -webkit-text-size-adjust: none; margin: 0; padding: 0">
  <center>
   <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable" style="height: 100%; margin: 0; padding: 0; width: 100%; background-color: #fafafa">
    <tr>
     <td align="center" valign="top" style="border-collapse: collapse">
      <!-- // Begin Template Preheader \\ -->
      <table border="0" cellpadding="10" cellspacing="0" width="600" id="templatePreheader" style="background-color: #fafafa">
       <tr>
        <td valign="top" class="preheaderContent" style="border-collapse: collapse">
         <!-- // Begin Module: Standard Preheader \ -->
         <table border="0" cellpadding="10" cellspacing="0" width="100%">
          <tr>
           <td valign="top" style="border-collapse: collapse">
            <div mc:edit="std_preheader_content" style="color: #505050; font-family: Arial; font-size: 10px; line-height: 100%; text-align: left">
             <!--Use this area to offer a short teaser of your email's content. Text here will show in the preview area of some email clients.-->
            </div>
           </td>
           <!-- *|IFNOT:ARCHIVE_PAGE|* -->
           <td valign="top" width="190" style="border-collapse: collapse">
            <!--&lt;div mc:edit="std_preheader_links"&gt;
                                                	Is this email not displaying correctly?&lt;br  /&gt;&lt;a href="*|ARCHIVE|*" target="_blank"&gt;View it in your browser&lt;/a&gt;.
                                                &lt;/div&gt;  
                                              -->
           </td>
           <!-- *|END:IF|* -->
          </tr>
         </table>
         <!-- // End Module: Standard Preheader \ -->
        </td>
       </tr>
      </table>
      <!-- // End Template Preheader \\ -->
      <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer" style="border: 1px solid #ddd; background-color: #FFF">
       <tr>
        <td align="center" valign="top" style="border-collapse: collapse">
         <!-- // Begin Template Header \\ -->
         <!--
                                	&lt;table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader"&gt;
                                        &lt;tr&gt;
                                            &lt;td class="headerContent"&gt;
                                            	&lt;div class="header"&gt;
                                                    Project Awesome
                                            	&lt;/div&gt;
                                            &lt;/td&gt;
                                        &lt;/tr&gt;
                                    &lt;/table&gt;
                                    -->
         <!-- // End Template Header \\ -->
        </td>
       </tr>
       <tr>
        <td align="center" valign="top" style="border-collapse: collapse">
         <!-- // Begin Template Body \\ -->
         <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody">
          <tr>
           <td valign="top" class="bodyContent" style="border-collapse: collapse; padding: 0 25px; background-color: #FFF">
            <!-- // Begin Module: Standard Content \\ -->
            <table border="0" cellpadding="20" cellspacing="0" width="100%">
             <tr>
              <td valign="top" style="border-collapse: collapse">
               <!-- Main content -->
               <div class="quoteBox" style="color: #505050; font-family: Arial; font-size: 14px; line-height: 150%; text-align: left; margin-top: 10px; margin-bottom: 20px; padding: 0 20px">
                <div class="quote" style="color: #333; font-family: times, serif; font-size: 20px; line-height: 150%; text-align: left; font-weight: bold">
                 "{{ quote }}"
                </div>
                <div class="attribution" style="color: #777; font-family: Arial; font-size: 14px; line-height: 150%; text-align: right; margin-top: 10px">
                 - {{ quoteAttribution  }}
                </div>
               </div>
               {% if visionPictureUrl != "" %}
               <!--
&lt;center&gt;
    &lt;a class="Button" href="{{ visionUrl }}"&gt;
        {{ challenge }}
    &lt;/a&gt;
&lt;/center&gt;
-->
               <center>
                <div style="color: #505050; font-family: Arial; font-size: 14px; line-height: 150%; text-align: left; display: inline-block; background-color:#4D90FE;border:1px solid #3079ED;;border-radius:4px;padding:10px; margin:10px 5px">
                 <div style="color: #505050; font-family: Arial; font-size: 14px; line-height: 150%; text-align: left; padding-right:10px;padding-left:10px">
                  <a href="{{ visionUrl }}" style="text-decoration:none" target="_blank">
                   <span style="font-size:16px;font-weight:bold;color:#fff;white-space:nowrap;display:block; text-align:center">
                    {{ challenge }}
                   </span>
                  </a>
                 </div>
                </div>
               </center>
               <div class="pictureBox" style="color: #505050; font-family: Arial; font-size: 14px; line-height: 150%; text-align: left; margin: auto; margin-top: 10px; margin-bottom: 20px; height: auto; width: 400px; background-color: #fafafa; padding: 10px; -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5)">
                <img src="{{ visionPictureUrl }}" style="border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none; display: block; width: 100%" />
                <div class="pictureText" style="color: #505050; font-family: Arial; font-size: 12pt; line-height: 1.2; text-align: left; padding: 10px">
                 {{ visionText }}
                </div>
               </div>
               {% endif %}
               <p style="margin: 5px 10px">
                {{ farewell }},
               </p>
               <p style="margin: 5px 10px">
                - The Project Awesome Team :)
               </p>
               <div class="psNote" style="color: #777; font-family: Arial; font-size: 13px; line-height: 150%; text-align: left; padding: 5px; margin: 5px">
                <b>
                 P.S.
                </b>
                Don't be shy! If you have any comments, or just want to talk, feel free to give us a shout at
                <a href="mailto:projectAwesomer@gmail.com">
                 projectAwesomer@gmail.com
                </a>
                .
               </div>
               <div class="psNote" style="color: #777; font-family: Arial; font-size: 13px; line-height: 150%; text-align: left; padding: 5px; margin: 5px">
                <b>
                 P.P.S.
                </b>
                Can't see pictures? Enable images in your email client and we promise your daily visions will look
                <a href="http://youtu.be/NQ-8IuUkJJc?t=1m19s">
                 at least 3 times better
                </a>
                .
               </div>
               <!-- End main content -->
              </td>
             </tr>
            </table>
            <!-- // End Module: Standard Content \\ -->
           </td>
          </tr>
         </table>
         <!-- // End Template Body \\ -->
        </td>
       </tr>
       <tr>
        <td align="center" valign="top" style="border-collapse: collapse">
         <!-- // Begin Template Footer \\ -->
         <table border="0" cellspacing="0" width="600" id="templateFooter" style="background-color: #FFF; border-top: 0">
          <tr>
           <td valign="top" class="footerContent" style="border-collapse: collapse">
            <!-- // Begin Module: Standard Footer \\ -->
            <table border="0" cellpadding="10" cellspacing="0" width="100%">
             <tr>
              <td colspan="2" valign="middle" id="social" style="border-collapse: collapse; border: 0">
               <div mc:edit="std_social" style="color: #707070; font-family: Arial; font-size: 12px; line-height: 125%; text-align: center">
                <!--&nbsp;&lt;a href="*|TWITTER:PROFILEURL|*"&gt;follow on Twitter&lt;/a&gt; | &lt;a href="*|FACEBOOK:PROFILEURL|*"&gt;friend on Facebook&lt;/a&gt; | &lt;a href="*|FORWARD|*"&gt;forward to a friend&lt;/a&gt;&nbsp;-->
               </div>
              </td>
             </tr>
             <tr>
              <td valign="top" width="100%" style="border-collapse: collapse">
               <div class="legal" style="color: #AAA; font-family: Arial; font-size: 10px; line-height: 125%; text-align: center; font-style: normal">
                Made for you with love by Project Awesome
                <br />
                Copyright &copy; 2012
               </div>
              </td>
              <td valign="top" id="monkeyRewards" style="border-collapse: collapse">
              </td>
             </tr>
             <tr>
              <td colspan="2" valign="middle" id="utility" style="border-collapse: collapse; background-color: #FFF; border: 0">
               <div mc:edit="std_utility" style="color: #707070; font-family: Arial; font-size: 12px; line-height: 125%; text-align: center">
                <!--&nbsp;&lt;a href="*|UNSUB|*"&gt;unsubscribe from this list&lt;/a&gt; | &lt;a href="*|UPDATE_PROFILE|*"&gt;update subscription preferences&lt;/a&gt;&nbsp;-->
               </div>
              </td>
             </tr>
            </table>
            <!-- // End Module: Standard Footer \\ -->
           </td>
          </tr>
         </table>
         <!-- // End Template Footer \\ -->
        </td>
       </tr>
      </table>
      <br />
     </td>
    </tr>
   </table>
  </center>
 </body>
</html>
