<html>
<head>
    <title>You have a message!</title>
</head>
<body>
    <p>
    Hi {{ origUser.firstName() }}!
    </p>
    <p>
    <a href="{{ full_url_for('user_profile', userId=user.id()) }}">
        {{ user.fullName() }}
    </a>
    has
    <a href="{{ full_url_for('vision_page', visionId=vision.id()) }}">
    reposted one of your visions</a>.
    </p>
    <p>
    Go to their
    <a href="{{ full_url_for('user_profile', userId=user.id()) }}">
    vision board</a>
    to learn more about them!
    </p>
    <p>
    Cheers,<br>
    - The Project Awesome Team
    </p>
</body>
</html>
