<html>
 <head>
  <title>
   You have a message!
  </title>
 </head>
 <body style="color: #505050; font-family: Arial; font-size: 14px; line-height: 150%; text-align: left">
  <p>
   Hi {{ origUserFirstName }}!
  </p>
  <p>
   <a href="{{ userVisionBoardUrl }}">
    {{ userFullName }}
   </a>
   has reposted one of your visions.
  </p>
  <p>
   Go to their
   <a href="{{ userVisionBoardUrl }}">
    vision board
   </a>
   to learn
    more about them!
  </p>
  <p>
   Cheers,
   <br />
   - The Project Awesome Team
  </p>
 </body>
</html>
