/*
    base.less
    
    Base file for styles
*/

@BACKGROUND_COLOR: #F8F8F8;
@BACKGROUND_IMAGE: url('../img/patterns/creampaper.png');
@LOGO_COLOR: #E391B2;
@FOOTER_HEIGHT: 40px;
@FOOTER_MARGIN: 15px;
@FOOTER_TEXT_COLOR: #999;//#779997;
body 
{
    /*background-color: @BACKGROUND_COLOR;*/
    background-image: @BACKGROUND_IMAGE;
}

footer
{
    width:100%;
    height:@FOOTER_HEIGHT;
    margin-top:@FOOTER_MARGIN;

    color:@FOOTER_TEXT_COLOR;
    text-align:center;
}

//Center the main logo
.brand
{
	position: absolute;
	margin: auto;
    width: 100%;
    left: 0;
    text-align: center;
}

/*
	Utility Styles
*/
.hidden 
{
    display:none;
}

.center
{
    margin:0 auto;
}
