/*
    base.less
    
    Base file for styles
*/

@BACKGROUND_COLOR: #F8F8F8;
@BACKGROUND_IMAGE: url('../img/patterns/creampaper.png');
@LOGO_COLOR: #E391B2;
@FOOTER_HEIGHT: 40px;
@FOOTER_TEXT_COLOR: #999;//#779997;

html, body, #PageContainer { height: 100%; }
body > #PageContainer { height: auto; min-height: 100%; }

#PageContainer {
    padding-bottom:40px;
}

body 
{
    /*background-color: @BACKGROUND_COLOR;*/
    background-image: @BACKGROUND_IMAGE;
}

footer
{
    width:100%;
    height:@FOOTER_HEIGHT;
    margin-top:-@FOOTER_HEIGHT;

    color:@FOOTER_TEXT_COLOR;
    text-align:center;
}

//Center the main logo - overwriting bootstrap brand class
.brand
{
	position: absolute;
	margin: auto;
    width: 100%;
    left: 0;
    text-align: center;
}

/* move content below navbar -- could use margin/padding on content too */
#NavPadding {
    height:40px;
}

#InstructionsPadding {
    height:90px;
}

/*
	Utility Styles
*/
.Hidden 
{
    display:none;
}

.Center
{
    margin:0 auto;
}
