/*
    base.less
    
    Base file for styles
*/

@backgroundColor: #F8F8F8;
@backgroundImage: url('../img/patterns/creampaper.png');
@logoColor: #E391B2;

body 
{
    /*background-color: @backgroundColor;*/
    background-image: @backgroundImage;
}

//Center the main logo
.brand
{
	position: absolute;
	margin: auto;
    width: 100%;
    left: 0;
    text-align: center;
}

/*
	Utility Styles
*/
.hidden 
{
    display:none;
}

.centered
{
    margin:0 auto;
}