/*
    base.less
    
    Base file for styles
*/
body {
  /*background-color: @BACKGROUND_COLOR;*/

  background-image: url('../img/patterns/creampaper.png');
}
footer {
  width: 100%;
  height: 40px;
  margin-top: 15px;
  color: #999999;
  text-align: center;
}
.brand {
  position: absolute;
  margin: auto;
  width: 100%;
  left: 0;
  text-align: center;
}
/*
	Utility Styles
*/
.Hidden {
  display: none;
}
.Center {
  margin: 0 auto;
}
