/*
    base.less
    
    Base file for styles
*/
body {
  /*background-color: @backgroundColor;*/

  background-image: url('../img/patterns/subtle_dots.png');
}
/*
	Utility Styles
*/
.hidden {
  display: none;
}
.centered {
  margin: 0 auto;
}
