/*
    index.less

    Main Page
*/
/*
    base.less
    
    Base file for styles
*/
html,
body,
#PageContainer {
  height: 100%;
}
body > #PageContainer {
  height: auto;
  min-height: 100%;
}
body {
  /*background-color: @BACKGROUND_COLOR;*/

  background-image: url('../img/patterns/creampaper.png');
}
#FooterPadding {
  height: 40px;
}
footer {
  width: 100%;
  height: 40px;
  margin-top: -40px;
  color: #999999;
  text-align: center;
}
.brand {
  position: absolute;
  margin: auto;
  width: 100%;
  left: 0;
  text-align: center;
}
/* move content below navbar -- could use margin/padding on content too */
#NavPadding {
  height: 40px;
}
#InstructionsPadding {
  height: 80px;
}
/*
	Utility Styles
*/
.Hidden {
  display: none;
}
.Center {
  margin: 0 auto;
}
/*
    The Styles!
*/
/* add to bootstrap */
.navbar-inner {
  z-index: 1 !important;
}
.MoveCursor {
  cursor: move;
}
.LightShadow {
  -webkit-transition: -webkit-transform 0.15s linear;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}
.DarkShadow {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}
.Vision {
  width: 290px;
  margin: 6px;
  padding: 10px;
  background-color: #fafafa;
  list-style-type: none;
  -webkit-transition: -webkit-transform 0.15s linear;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}
.Vision img {
  width: 100%;
}
.Vision .text {
  background-color: #ffffff;
  padding: 0px;
}
/* Selected Vision */
.VisionSelected {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}
/*
    Instructions
    Both (H + Example)
*/
.SelectedEmph {
  color: #02bf0f;
}
#Instructions,
#ExampleVisionBoardInstructions {
  width: 600px;
  margin: auto;
  padding-top: 15px;
  line-height: 1.4;
  margin-top: -5px;
  margin-bottom: 10px;
  height: 55px;
  position: relative;
  z-index: -1 !important;
  text-align: center;
  color: #666666;
  font-size: 18px;
  -webkit-transition: -webkit-transform 0.15s linear;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}
#Instructions button,
#ExampleVisionBoardInstructions button {
  margin-top: 12px;
}
/*
    On Hover of Vision
*/
.AddVisionNotAuthenticated,
.RemoveVisionNotAuthenticated {
  position: absolute;
  top: 14px;
  right: 14px;
}
.Overlay {
  position: absolute;
  top: 14px;
}
.Repost {
  left: 14px;
}
.Move {
  right: 14px;
}
/*
    Delete
*/
#InfoContainerPadding {
  height: 50px;
}
#InfoContainer {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 520px;
  margin-left: -260px;
  height: 40px;
  z-index: -1;
  background-color: #FCE3ED;
  padding: 5px 15px;
  border-bottom: 1px #E391B2 solid;
  border-left: 1px #E391B2 solid;
  border-right: 1px #E391B2 solid;
}
#ContentContainer {
  margin-bottom: 20px;
  padding: 0px 21px 21px 21px;
}
#Content,
#ExampleVisionBoard {
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 15px;
}
#Content li.MasonryItem,
#ExampleVisionBoard li.MasonryItem {
  float: left;
}
#Content li.MasonryBox,
#ExampleVisionBoard li.MasonryBox {
  width: 285px;
  margin: 7px;
  border: 0px;
  padding: 0px;
  float: left;
  background-color: #ffffff;
  overflow: hidden;
  cursor: default;
  list-style-type: none;
}
#Content .MasonryItemUnselected,
#ExampleVisionBoard .MasonryItemUnselected {
  border: 1px solid #DDDDDD;
}
#Content .MasonryItemSelected,
#ExampleVisionBoard .MasonryItemSelected {
  border: 1px solid red;
}
#Content .MasonryItemPointerCursor,
#ExampleVisionBoard .MasonryItemPointerCursor {
  cursor: pointer;
}
#Content .MasonryItemMoveCursor,
#ExampleVisionBoard .MasonryItemMoveCursor {
  cursor: move;
}
#Content .MasonryItemInner,
#ExampleVisionBoard .MasonryItemInner {
  padding: 4px;
  position: relative;
  min-height: 48px;
}
#Content .VisionOverlay,
#ExampleVisionBoard .VisionOverlay {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}
#Content .AddVisionOverlayText,
#ExampleVisionBoard .AddVisionOverlayText {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  margin-left: -50px;
  margin-top: -25px;
  padding: 4px 12px;
  text-align: center;
  background-color: #f8f8f8;
  border: 1px solid #888888;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.75);
}
#Content .RemoveVisionOverlayText,
#ExampleVisionBoard .RemoveVisionOverlayText {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  margin-left: -55px;
  margin-top: -25px;
  padding: 4px 12px;
  text-align: center;
  background-color: #f8f8f8;
  border: 1px solid #888888;
  color: green;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.75);
}
#Content .VisionUserBlock,
#ExampleVisionBoard .VisionUserBlock {
  position: relative;
  padding: 3px;
  font-size: 12px;
  color: gray;
  z-index: 10;
}
#Content .VisionUserName,
#ExampleVisionBoard .VisionUserName {
  font-weight: bold;
}
#Content .VisionCommentContainer,
#ExampleVisionBoard .VisionCommentContainer {
  z-index: 1;
}
#Content .VisionComment,
#ExampleVisionBoard .VisionComment {
  font-size: 12px;
  line-height: 1.2;
  background-color: #FAFAFA;
  margin: 2px;
  padding: 2px;
  overflow: auto;
}
#Content .VisionComment .VisionCommentProfile,
#ExampleVisionBoard .VisionComment .VisionCommentProfile {
  margin: 3px;
  width: 30px;
  height: 30px;
  float: left;
}
#Content .VisionToolbar,
#ExampleVisionBoard .VisionToolbar {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
}
#Content .VisionToolbar .VisionToolbarButton,
#ExampleVisionBoard .VisionToolbar .VisionToolbarButton {
  display: inline-block;
  font-size: 10pt;
  line-height: 1.2;
  margin: 2px 2px 2px 0px;
  padding: 4px;
  border: 1px solid #888888;
  background-color: #f8f8f8;
  color: #000000;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#Content .VisionToolbar .VisionToolbarButton:hover,
#ExampleVisionBoard .VisionToolbar .VisionToolbarButton:hover {
  background-color: #ffffff;
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.75);
}
#VisionDeleteButton {
  float: right;
  font-size: 15px;
}
#VisionDeleteButton:hover {
  text-decoration: underline;
  cursor: pointer;
}
#UserFeedbackSaving {
  display: none;
  float: right;
  margin-top: 5px;
  margin-right: 5px;
  color: #000000;
  background-color: rgba(204, 204, 204, 0.9);
  padding: 3px;
  font-size: 12pt;
  line-height: 1.2;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#UserFeedbackSaved {
  display: none;
  float: right;
  margin-top: 5px;
  margin-right: 5px;
  color: #000000;
  background-color: rgba(0, 255, 0, 0.8);
  padding: 3px;
  font-size: 12pt;
  line-height: 1.2;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#UserFeedbackError {
  display: none;
  float: right;
  margin-top: 5px;
  margin-right: 5px;
  color: #ff0000;
  background-color: rgba(255, 204, 204, 0.9);
  padding: 3px;
  font-size: 12pt;
  line-height: 1.2;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#FileUploadInput {
  margin: 5px;
  border: 1px solid #CCCCCC;
  padding: 2px 5px 4px 5px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
