/*
    index.less

    Main Page
*/

@import "base";

/*
    The Styles!
*/

//Vision Styles
@VISION_WIDTH: 290px;
@VISION_MARGIN: 6px;
@VISION_PADDING: 10px;
@VISION_BACKGROUND: #FAFAFA;
@PICTURE_WIDTH: 100%;
@TEXT_BACKGROUND: white;
@TEXT_PADDING: 0px;

//Instructions
@INSTRUCTIONS_WIDTH: 600px;
@INSTRUCTIONS_MARGIN_BOTTOM: 10px;
@TEXT_COLOR: #666;
@TEXT_SIZE: 18px;
@BUTTON_MARGIN_TOP: 12px;

//On Hover
@ACT_ON_VISION_NOT_AUTHENTICATED_INSET: @VISION_PADDING+4;
@OVERLAY_MARGIN: @VISION_PADDING+4;

/* add to bootstrap */
.navbar-inner {
    z-index: 1 !important;
}

.MoveCursor
{
    cursor: move;
}

.LightShadow
{
     //Shadow and Border
    -webkit-transition: -webkit-transform .15s linear;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
}

.DarkShadow
{
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5);
}

.Vision
{

    width:@VISION_WIDTH;
    margin:@VISION_MARGIN;
    padding:@VISION_PADDING;

    background-color:@VISION_BACKGROUND;

    //font-family: 'Marker Felt', sans-serif;

    //To Do: Change this to a div
    list-style-type: none;

    .LightShadow;

    //The Picture
    img 
    {
        //TODO: Change this to a fixed width for the picture
        //Once we decide
        width:@PICTURE_WIDTH;
    }

    //The Text
    .text
    {
        background-color:@TEXT_BACKGROUND;
        padding:@TEXT_PADDING;
    }

}

/* Selected Vision */
.VisionSelected 
{
   .DarkShadow;
}


/*
    Instructions
    Both (H + Example)
*/

.SelectedEmph {
    color: @EMPH_COLOR;
}

#Instructions, #ExampleVisionBoardInstructions
{
    width:@INSTRUCTIONS_WIDTH;
    margin:auto;
    padding-top:15px;
    line-height:1.4;
    margin-top: -5px;
    margin-bottom:@INSTRUCTIONS_MARGIN_BOTTOM;
    height:55px;

    position: relative;
    z-index: -1 !important;

    text-align: center;
    color:@TEXT_COLOR;
    font-size:@TEXT_SIZE; 

    //Shadow
    .LightShadow;

    button
    {
        margin-top:@BUTTON_MARGIN_TOP;
    }
}

/*
    On Hover of Vision
*/

//Not logged in - "Add to your vision board"
.AddVisionNotAuthenticated, .RemoveVisionNotAuthenticated
{
    position:absolute;
    top:@ACT_ON_VISION_NOT_AUTHENTICATED_INSET;
    right:@ACT_ON_VISION_NOT_AUTHENTICATED_INSET;
}


//The Overlays!
.Overlay
{
    position:absolute;
    top:@OVERLAY_MARGIN;
}

.Repost
{
    left:@OVERLAY_MARGIN;
}

.Move
{
    right:@OVERLAY_MARGIN;
}

//Logged in












/*
    Delete
*/

.RoundBorder(@radius: 3px) {
    -moz-border-radius: @radius;
    border-radius: @radius;
}

.BoxShadow() {
    -webkit-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 2px 5px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 2px 5px rgba(50, 50, 50, 0.75);
}


@VisionBackgroundColor: #FFFFFF;
@VisionToolbarColor: #000000;
@VisionToolbarBorderColor: #888888;
@VisionToolbarBackgroundColor: #F8F8F8;

@VisionOverlayBackgroundColor: #F8F8F8;
@VisionOverlayBorderColor: #888888;
@VisionOverlaySelectedBackgroundColor: #F8F8F8;
@VisionOverlaySelectedBorderColor: #888888;


@FeedbackSavingColor: black;
@FeedbackSavingBackgroundColor: rgba(204,204,204,.9);
@FeedbackSavedColor: black;
@FeedbackSavedBackgroundColor: rgba(0,255,0,.8);
@FeedbackErrorColor: red;
@FeedbackErrorBackgroundColor: rgba(255,204,204,.9);


#InfoContainerPadding {
    height:50px;

}

#InfoContainer
{
    position: absolute; top:100%; left: 50%;
    width: 520px; margin-left:-260px; height:40px; 
    z-index:-1; background-color: #FCE3ED; padding:5px 15px;
    border-bottom: 1px #E391B2 solid;
    border-left: 1px #E391B2 solid;
    border-right: 1px #E391B2 solid;
}

#UserInformation {
    width: 450px;
    margin-top: 25px;
    padding: 10px 10px 10px 190px;
    overflow: hidden;
    position: relative;
    height: 155px;

    background-color:@VISION_BACKGROUND;
    .LightShadow;

    #UserProfilePicture {
        position:absolute;
        top: 10px;
        left: 10px;
        width: 155px;
        height: 155px;
    }
    #UserName {
        font-size: 30px;
        line-height: 1.2;
    }
    #UserDescription {
    }
    #NoUserDescription {
        font-style: italic;
        padding: 3px;
        margin:3px 0px;
    }
    .NoUserDescriptionNotActive {
        border: 1px solid @VISION_BACKGROUND;
    }
    .NoUserDescriptionActive {
        border: 1px gray dotted;
        cursor: pointer;
    }

    #SetUserDescriptionContainer {
        padding: 10px 30px 10px 0px;

        #UserDescriptionInput {
            width: 410px;
            height: 40px;
        }
        #UserDescriptionSubmit {
            float: right;
        }
        #UserDescriptionLength {
            float: right;
            padding: 5px 10px;
            color: gray;
        }
    }
}

#ContentContainer {
    margin-bottom:20px;
    padding:0px 21px 21px 21px;
}

#Content, #ExampleVisionBoard{
    overflow: hidden;

    margin-top:15px;
    margin-bottom:15px;

    // This is added and removed when we move the vision w/ jquery ui sortable
    li.MasonryItem {
        float: left;
    }
    li.MasonryBox {
        width: 285px;
        margin: 7px;
        border: 0px;
        padding: 0px;
        float: left;
        background-color: @VisionBackgroundColor;
        overflow: hidden;
        cursor: default;
        list-style-type: none;

    }

    .MasonryItemUnselected {
        border: 1px solid #DDDDDD;
    }
    .MasonryItemSelected {
        border: 1px solid red;
    }
    .MasonryItemPointerCursor {
        cursor: pointer;
    }
    .MasonryItemMoveCursor {
        cursor: move;
    }

    .MasonryItemInner {
        padding: 4px;
        position:relative;
        min-height:48px;
    }

    .VisionOverlay {
        position:absolute;
        top: 0px;
        left: 0px;
        //width: 100%;
        //height: 100%;
        //background-color: rgba(255,255,255,.5);
        z-index: 1;
    }
    .AddVisionOverlayText {
        position:absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        margin-left:-50px;
        margin-top:-25px;
        padding: 4px 12px;
        text-align: center;
        background-color: @VisionOverlayBackgroundColor;
        border: 1px solid @VisionOverlayBorderColor;
        .RoundBorder(3px);
        .BoxShadow();
    }
    .RemoveVisionOverlayText {
        position:absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        margin-left:-55px;
        margin-top:-25px;
        padding: 4px 12px;
        text-align: center;
        background-color: @VisionOverlaySelectedBackgroundColor;
        border: 1px solid @VisionOverlaySelectedBorderColor;
        color: green;
        .RoundBorder(5px);
        .BoxShadow();
    }
    .VisionUserBlock {
        position:relative;
        padding:3px;
        font-size:12px;
        color:gray;
        z-index:10;
    }
    .VisionUserName {
        font-weight: bold;
    }

    .VisionCommentContainer {
        z-index: 1;
    }
    .VisionComment {
        font-size:12px;
        line-height:1.2;
        background-color: @VISION_BACKGROUND;
        margin: 2px;
        padding: 2px; 
        overflow: auto;

        .VisionCommentProfile {
            margin:3px;
            width:30px;
            height:30px;
            float:left;
        }
    }

    .VisionToolbar {
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 1;

        .VisionToolbarButton {
            display:inline-block;
            font-size:10pt;
            line-height:1.2;
            margin:2px 2px 2px 0px;
            padding:4px;
            border:1px solid @VisionToolbarBorderColor;
            background-color: @VisionToolbarBackgroundColor;
            color: @VisionToolbarColor;
            .RoundBorder(3px);
        }
        .VisionToolbarButton:hover {
            background-color: lighten(@VisionToolbarBackgroundColor, 15%);
            cursor: pointer;
            .BoxShadow();
        }
    }
}

// This button is in the edit vision modal
#VisionDeleteButton {
    float:right;
    font-size:15px;
}
#VisionDeleteButton:hover {
    text-decoration: underline;
    cursor: pointer;
}

//
// Styles for the notifications during AJAX calls
//
#UserFeedbackSaving {
    display: none;
    float:right;
    margin-top:5px;
    margin-right:5px;
    color: @FeedbackSavingColor;
    background-color: @FeedbackSavingBackgroundColor;
    padding: 3px;
    font-size:12pt;
    line-height:1.2;
    .RoundBorder(3px);
}
#UserFeedbackSaved {
    display: none;
    float:right;
    margin-top:5px;
    margin-right:5px;
    color: @FeedbackSavedColor;
    background-color: @FeedbackSavedBackgroundColor;
    padding: 3px;
    font-size:12pt;
    line-height:1.2;
    .RoundBorder(3px);
}
#UserFeedbackError {
    display: none;
    float:right;
    margin-top:5px;
    margin-right:5px;
    color: @FeedbackErrorColor;
    background-color: @FeedbackErrorBackgroundColor;
    padding: 3px;
    font-size:12pt;
    line-height:1.2;
    .RoundBorder(3px);
}

#FileUploadInput {
    margin: 5px;
    border:1px solid #CCCCCC;
    padding: 2px 5px 4px 5px;
    .RoundBorder(4px);
}

// This overrides the bootstrap modal slide-down animation
#VisionDetailsModal.fade {
    -webkit-transition: opacity .2s linear, none;
    -moz-transition: opacity .2s linear, none;
    -ms-transition: opacity .2s linear, none;
    -o-transition: opacity .2s linear, none;
    transition: opacity .2s linear, none;
    top: 35%;
}

#VisionDetailsModal {

    .modal-header {
        font-size: 18pt;

        #VisionDeleteButton {
            float: right;
            font-size: 15px;
        }
        #VisionDetailsName {
        }
    }

    .modal-body {
        min-height: 250px;
        max-height: 1000000px;

        #VisionDetailsPictureContainer {
            background-color: #EEEEEE;
            margin: 15px;
            max-height: 600px;
            overflow: hidden;

            #VisionDetailsPicture {
            }
        }

        #VisionDetailsInfo {
            position: relative;
            padding: 0px 30px 15px 30px;
        }

        #VisionDetailsCommentsLoading {
            padding: 10px;
            color: gray;
        }

        #VisionDetailsCommentsContainer {
            max-height: 250px;
            overflow: scroll;
            margin: 5px;
            padding: 5px;

            .VisionDetailsComment {
                font-size:12px;
                line-height:1.2;
                margin: 2px;
                padding: 2px; 
                overflow: auto;

                .VisionDetailsCommentProfile {
                    margin:6px;
                    width:40px;
                    height:40px;
                    float:left;
                }
                .VisionDetailsCommentUserLink {
                    font-size: 14px;
                    line-height: 1.5;
                }
                .VisionDetailsCommentText {
                    font-size: 12px;
                    line-height: 1.2;
                }
            }
        }
        #VisionDetailsAddCommentContainer {
            padding: 5px;

            #VisionDetailsAddCommentPicture {
                width: 45px;
                height: 45px;
                background-color: #EEEEEE;
                margin: 0px 5px 0px 10px;
            }
            #VisionDetailsAddComment {
                margin-top: 12px;
                width: 400px;
                height: 40px;
            }
        }

    }
}

// $eof
