/*
    index.less

    Main Page
*/
/*
    base.less
    
    Base file for styles
*/
body {
  /*background-color: @backgroundColor;*/

  background-image: url('../img/patterns/creampaper.png');
}
.brand {
  position: absolute;
  margin: auto;
  width: 100%;
  left: 0;
  text-align: center;
}
/*
	Utility Styles
*/
.hidden {
  display: none;
}
.centered {
  margin: 0 auto;
}
/*
    The Styles!
*/
.moveCursor {
  cursor: move;
}
.vision {
  width: 360px;
  margin: 6px;
  padding: 10px;
  background-color: #fafafa;
  list-style-type: none;
  -webkit-transition: -webkit-transform 0.15s linear;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}
.vision img {
  width: 100%;
}
.vision .text {
  background-color: #ffffff;
  padding: 0px;
}
/*
    On Hover of Vision
*/
.addVisionNotAuthenticated,
.removeVisionNotAuthenticated {
  position: absolute;
  top: 14px;
  right: 14px;
}
.visionSelected {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}
/*
    Delete
*/
#InfoContainerPadding {
  height: 50px;
}
#InfoContainer {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 520px;
  margin-left: -260px;
  height: 40px;
  z-index: -1;
  background-color: #FCE3ED;
  padding: 5px 15px;
  border-bottom: 1px #E391B2 solid;
  border-left: 1px #E391B2 solid;
  border-right: 1px #E391B2 solid;
}
#ContentContainer {
  margin-bottom: 20px;
  padding: 0px 21px 21px 21px;
}
#content,
#TestVisionContainer {
  overflow: hidden;
}
#content li.MasonryItem,
#TestVisionContainer li.MasonryItem {
  float: left;
}
#content li.MasonryBox,
#TestVisionContainer li.MasonryBox {
  width: 285px;
  margin: 7px;
  border: 0px;
  padding: 0px;
  float: left;
  background-color: #ffffff;
  overflow: hidden;
  cursor: default;
  list-style-type: none;
}
#content .MasonryItemUnselected,
#TestVisionContainer .MasonryItemUnselected {
  border: 1px solid #DDDDDD;
}
#content .MasonryItemSelected,
#TestVisionContainer .MasonryItemSelected {
  border: 1px solid red;
}
#content .MasonryItemPointerCursor,
#TestVisionContainer .MasonryItemPointerCursor {
  cursor: pointer;
}
#content .MasonryItemMoveCursor,
#TestVisionContainer .MasonryItemMoveCursor {
  cursor: move;
}
#content .MasonryItemInner,
#TestVisionContainer .MasonryItemInner {
  padding: 4px;
  position: relative;
  min-height: 48px;
}
#content .VisionOverlay,
#TestVisionContainer .VisionOverlay {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;
}
#content .AddVisionOverlayText,
#TestVisionContainer .AddVisionOverlayText {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  margin-left: -50px;
  margin-top: -25px;
  padding: 4px 12px;
  text-align: center;
  background-color: #f8f8f8;
  border: 1px solid #888888;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.75);
}
#content .RemoveVisionOverlayText,
#TestVisionContainer .RemoveVisionOverlayText {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  margin-left: -55px;
  margin-top: -25px;
  padding: 4px 12px;
  text-align: center;
  background-color: #f8f8f8;
  border: 1px solid #888888;
  color: green;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.75);
}
#content .VisionToolbar,
#TestVisionContainer .VisionToolbar {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
}
#content .VisionToolbar .VisionToolbarButton,
#TestVisionContainer .VisionToolbar .VisionToolbarButton {
  display: inline-block;
  font-size: 10pt;
  line-height: 1.2;
  margin: 2px 2px 2px 0px;
  padding: 4px;
  border: 1px solid #888888;
  background-color: #f8f8f8;
  color: #000000;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#content .VisionToolbar .VisionToolbarButton:hover,
#TestVisionContainer .VisionToolbar .VisionToolbarButton:hover {
  background-color: #ffffff;
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.75);
}
#TestVisionInfoContainer {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 520px;
  margin-left: -260px;
  height: 40px;
  z-index: -1;
  background-color: #FCE3ED;
  padding: 5px 15px;
  border-bottom: 1px #E391B2 solid;
  border-left: 1px #E391B2 solid;
  border-right: 1px #E391B2 solid;
  display: none;
}
#VisionDeleteButton {
  float: right;
  font-size: 15px;
}
#VisionDeleteButton:hover {
  text-decoration: underline;
  cursor: pointer;
}
#UserFeedbackSaving {
  display: none;
  float: right;
  margin-top: 5px;
  margin-right: 5px;
  color: #000000;
  background-color: rgba(204, 204, 204, 0.9);
  padding: 3px;
  font-size: 12pt;
  line-height: 1.2;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#UserFeedbackSaved {
  display: none;
  float: right;
  margin-top: 5px;
  margin-right: 5px;
  color: #000000;
  background-color: rgba(0, 255, 0, 0.8);
  padding: 3px;
  font-size: 12pt;
  line-height: 1.2;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#UserFeedbackError {
  display: none;
  float: right;
  margin-top: 5px;
  margin-right: 5px;
  color: #ff0000;
  background-color: rgba(255, 204, 204, 0.9);
  padding: 3px;
  font-size: 12pt;
  line-height: 1.2;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#FileUploadInput {
  margin: 5px;
  border: 1px solid #CCCCCC;
  padding: 2px 5px 4px 5px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
