/*
    index.less

    Main Page
*/
/*
    base.less
    
    Base file for styles
*/
html,
body,
#PageContainer {
  height: 100%;
}
body > #PageContainer {
  height: auto;
  min-height: 100%;
}
body {
  /*background-color: @BACKGROUND_COLOR;*/

  background-image: url('../img/patterns/creampaper.png');
}
#FooterPadding {
  height: 40px;
}
footer {
  width: 100%;
  height: 40px;
  margin-top: -40px;
  color: #999999;
  text-align: center;
}
.brand {
  position: absolute;
  margin: auto;
  width: 100%;
  left: 0;
  text-align: center;
}
/* move content below navbar -- could use margin/padding on content too */
#NavPadding {
  height: 40px;
}
#NavProfilePicture {
  vertical-align: top;
  width: 25px;
  height: 25px;
  position: relative;
  top: -2px;
  margin: 0px 3px;
}
/*
	Utility Styles
*/
.Hidden {
  display: none;
}
.Center {
  margin-left: auto;
  margin-right: auto;
}
.CenterContent {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.CursorDefault {
  cursor: default;
}
.CursorPointer {
  cursor: pointer;
}
.Title {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
  color: black;
  margin-top: 15px;
}
.Subtitle {
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  color: #777;
}
.SectionHeading {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.4;
  color: black;
  margin: 15px 0px;
}
.SectionText {
  font-size: 15px;
  line-height: 1.4;
  color: #777;
  margin: 10px 0px;
}
.Video {
  text-align: center;
  margin: 10px 0px;
}
/*
    The Styles!
*/
/* add to bootstrap */
.navbar-inner {
  z-index: 1 !important;
}
.modal-backdrop {
  background-color: #fafafa !important;
}
.LightShadow {
  -webkit-transition: -webkit-transform 0.15s linear;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}
.DarkShadow {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}
.VisionPlaceholder {
  background-color: #ededed !important;
}
.Vision {
  width: 275px;
  margin: 6px;
  padding: 12px;
  background-color: #fafafa;
  list-style-type: none;
  -webkit-transition: -webkit-transform 0.15s linear;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}
.Vision img {
  width: 100%;
}
.Vision .text {
  background-color: #ffffff;
  padding: 3px;
  font-size: 14px;
  line-height: 1.4;
}
/* Selected Vision */
.VisionSelected {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}
/*
    Instructions
    Both (H + Example)
*/
#InstructionsPadding {
  height: 69px;
}
#Instructions,
#ExampleVisionBoardInstructions {
  width: 575px;
  margin: auto;
  padding-top: 15px;
  line-height: 1.4;
  margin-top: -5px;
  margin-bottom: 10px;
  height: 45px;
  position: relative;
  z-index: -1 !important;
  font-size: 15px;
  color: #666666;
  -webkit-transition: -webkit-transform 0.15s linear;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}
#Instructions .Tagline,
#ExampleVisionBoardInstructions .Tagline {
  font-size: 18px;
  line-height: 1.5;
  font-weight: bold;
}
#Instructions .InstructionsNote,
#ExampleVisionBoardInstructions .InstructionsNote {
  margin-left: 20px;
}
#Instructions #ViewExampleVisionBoardButton,
#ExampleVisionBoardInstructions #ViewExampleVisionBoardButton,
#Instructions #RegularRegisterButton,
#ExampleVisionBoardInstructions #RegularRegisterButton,
#Instructions #JoinSite,
#ExampleVisionBoardInstructions #JoinSite {
  font-size: 16px;
  line-height: 1.2;
  padding: 10px 15px;
  float: right;
  font-weight: normal;
}
/*
    On Hover of Vision
*/
.AddVisionNotAuthenticated,
.RemoveVisionNotAuthenticated {
  position: absolute;
  top: 16px;
  right: 16px;
}
.VisionIsPrivate {
  position: absolute;
  top: 16px;
  right: 16px;
}
.AlreadyHaveVision {
  position: absolute;
  top: 16px;
  left: 16px;
}
.Overlay {
  position: absolute;
  top: 16px;
}
.Repost {
  left: 16px;
}
.Move {
  right: 16px;
}
/*
    Delete
*/
#InfoContainerPadding {
  height: 50px;
}
#InfoContainer {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 520px;
  margin-left: -260px;
  height: 40px;
  z-index: -1;
  background-color: #FCE3ED;
  padding: 5px 15px;
  border-bottom: 1px #E391B2 solid;
  border-left: 1px #E391B2 solid;
  border-right: 1px #E391B2 solid;
}
#UserInformation {
  width: 450px;
  margin-top: 25px;
  padding: 10px 10px 10px 190px;
  overflow: hidden;
  position: relative;
  height: 155px;
  background-color: #fafafa;
  -webkit-transition: -webkit-transform 0.15s linear;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}
#UserInformation #UserProfilePicture {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 155px;
  height: 155px;
}
#UserInformation #UserName {
  font-size: 30px;
  line-height: 1.2;
}
#UserInformation #NoUserDescription {
  font-style: italic;
  padding: 3px;
  margin: 3px 0px;
}
#UserInformation .NoUserDescriptionNotActive {
  border: 1px solid #fafafa;
}
#UserInformation .NoUserDescriptionActive {
  border: 1px gray dotted;
  cursor: pointer;
}
#UserInformation #SetUserDescriptionContainer {
  padding: 10px 30px 10px 0px;
}
#UserInformation #SetUserDescriptionContainer #UserDescriptionInput {
  width: 410px;
  height: 40px;
}
#UserInformation #SetUserDescriptionContainer #UserDescriptionSubmit {
  float: right;
}
#UserInformation #SetUserDescriptionContainer #UserDescriptionLength {
  float: right;
  padding: 5px 10px;
  color: gray;
}
#ContentContainer {
  margin-bottom: 20px;
  padding: 0px 21px 21px 21px;
}
#Content,
#ExampleVisionBoard {
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 15px;
}
#Content li.MasonryItem,
#ExampleVisionBoard li.MasonryItem {
  float: left;
}
#Content li.MasonryBox,
#ExampleVisionBoard li.MasonryBox {
  width: 285px;
  margin: 7px;
  border: 0px;
  padding: 0px;
  float: left;
  background-color: #ffffff;
  overflow: hidden;
  cursor: default;
  list-style-type: none;
}
#Content .VisionPicture:hover,
#ExampleVisionBoard .VisionPicture:hover {
  cursor: pointer;
}
#Content .VisionOverlay,
#ExampleVisionBoard .VisionOverlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1;
}
#Content .AddVisionOverlayText,
#ExampleVisionBoard .AddVisionOverlayText {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  margin-left: -50px;
  margin-top: -25px;
  padding: 4px 12px;
  text-align: center;
  background-color: #f8f8f8;
  border: 1px solid #888888;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.75);
}
#Content .RemoveVisionOverlayText,
#ExampleVisionBoard .RemoveVisionOverlayText {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  margin-left: -55px;
  margin-top: -25px;
  padding: 4px 12px;
  text-align: center;
  background-color: #f8f8f8;
  border: 1px solid #888888;
  color: green;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.75);
}
#Content .VisionUserBlock,
#ExampleVisionBoard .VisionUserBlock {
  position: relative;
  padding: 3px;
  font-size: 12px;
  color: gray;
  z-index: 10;
}
#Content .VisionUserName,
#ExampleVisionBoard .VisionUserName {
  font-weight: bold;
}
#Content .VisionCommentContainer,
#ExampleVisionBoard .VisionCommentContainer {
  z-index: 1;
}
#Content .VisionComment,
#ExampleVisionBoard .VisionComment {
  font-size: 12px;
  line-height: 1.4;
  margin: 2px;
  padding: 3px 3px 3px 40px;
  position: relative;
  min-height: 30px;
}
#Content .VisionComment .VisionCommentProfile,
#ExampleVisionBoard .VisionComment .VisionCommentProfile {
  position: absolute;
  top: 2px;
  left: 2px;
  margin: 0px 3px;
  width: 30px;
  height: 30px;
  float: left;
}
#Content .AddVisionComment,
#ExampleVisionBoard .AddVisionComment {
  font-size: 12px;
  line-height: 1.2;
  margin: 0px 2px;
  padding: 0px 2px 0px 40px;
  position: relative;
  min-height: 30px;
}
#Content .AddVisionComment .AddVisionCommentProfile,
#ExampleVisionBoard .AddVisionComment .AddVisionCommentProfile {
  position: absolute;
  top: 2px;
  left: 2px;
  margin: 5px 3px 0px 3px;
  width: 30px;
  height: 30px;
  float: left;
}
#Content .AddVisionComment .AddVisionCommentInput,
#ExampleVisionBoard .AddVisionComment .AddVisionCommentInput {
  width: 215px;
  margin-top: 9px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 12px;
  line-height: 1.4;
}
#Content .VisionToolbar,
#ExampleVisionBoard .VisionToolbar {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
}
#Content .VisionToolbar .VisionToolbarButton,
#ExampleVisionBoard .VisionToolbar .VisionToolbarButton {
  display: inline-block;
  font-size: 10pt;
  line-height: 1.2;
  margin: 2px 2px 2px 0px;
  padding: 4px;
  border: 1px solid #888888;
  background-color: #f8f8f8;
  color: #000000;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#Content .VisionToolbar .VisionToolbarButton:hover,
#ExampleVisionBoard .VisionToolbar .VisionToolbarButton:hover {
  background-color: #ffffff;
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.75);
}
#VisionDeleteButton {
  float: right;
  font-size: 15px;
}
#VisionDeleteButton:hover {
  text-decoration: underline;
  cursor: pointer;
}
#UserFeedbackSaving {
  display: none;
  float: right;
  margin-top: 5px;
  margin-right: 5px;
  color: #000000;
  background-color: rgba(204, 204, 204, 0.9);
  padding: 3px;
  font-size: 12pt;
  line-height: 1.2;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#UserFeedbackSaved {
  display: none;
  float: right;
  margin-top: 5px;
  margin-right: 5px;
  color: #000000;
  background-color: rgba(0, 255, 0, 0.8);
  padding: 3px;
  font-size: 12pt;
  line-height: 1.2;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#UserFeedbackError {
  display: none;
  float: right;
  margin-top: 5px;
  margin-right: 5px;
  color: #ff0000;
  background-color: rgba(255, 204, 204, 0.9);
  padding: 3px;
  font-size: 12pt;
  line-height: 1.2;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#FileUploadInput {
  margin: 5px;
  border: 1px solid #CCCCCC;
  padding: 2px 5px 4px 5px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#VisionDetailsModal.fade {
  -webkit-transition: opacity .2s linear, none;
  -moz-transition: opacity .2s linear, none;
  -ms-transition: opacity .2s linear, none;
  -o-transition: opacity .2s linear, none;
  transition: opacity .2s linear, none;
  top: 300px;
}
.NoScroll {
  overflow: hidden !important;
}
#VisionDetailsModal {
  overflow: scroll;
  position: fixed;
  width: 100% !important;
  top: 0px !important;
  left: 0px !important;
  right: 0px !important;
  bottom: 0px !important;
  margin: 0px !important;
  padding: 0px !important;
  z-index: 5000;
  background-color: rgba(255, 255, 255, 0.8);
}
#VisionDetailsModal #VisionDetailsModalBox {
  width: 530px;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  opacity: 1;
  filter: alpha(opacity=100);
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  margin-left: auto;
  margin-right: auto;
}
#VisionDetailsModal .modal-header {
  font-size: 18pt;
}
#VisionDetailsModal .modal-header #VisionDeleteButton {
  float: right;
  font-size: 15px;
}
#VisionDetailsModal .modal-body {
  min-height: 250px;
  max-height: 1000000px;
}
#VisionDetailsModal .modal-body #VisionDetailsPictureContainer {
  background-color: #EEEEEE;
  margin: 15px;
  max-height: 600px;
  overflow: hidden;
}
#VisionDetailsModal .modal-body #VisionDetailsInfoContainer {
  margin: 0px 30px 15px 30px;
}
#VisionDetailsModal .modal-body #VisionDetailsInfoContainer #VisionDetailsTextContainer {
  position: relative;
}
#VisionDetailsModal .modal-body #VisionDetailsInfoContainer #VisionDetailsTextContainer #VisionDetailsEditText {
  position: absolute;
  top: -5px;
  right: 0px;
  z-index: 1;
}
#VisionDetailsModal .modal-body #VisionDetailsInfoContainer #VisionDetailsEditForm {
  overflow: hidden;
}
#VisionDetailsModal .modal-body #VisionDetailsInfoContainer #VisionDetailsEditForm #VisionDetailsTextInput {
  float: left;
  width: 320px;
  margin-bottom: 0px;
}
#VisionDetailsModal .modal-body #VisionDetailsInfoContainer #VisionDetailsEditForm #VisionDetailsPrivacyBox {
  margin: 0px 0px 0px 15px;
  width: 90px;
  font-size: 11px;
  float: left;
}
#VisionDetailsModal .modal-body #VisionDetailsInfoContainer #VisionDetailsEditForm #VisionDetailsEditSubmit {
  float: left;
  margin: 4px 0px 0px 15px;
}
#VisionDetailsModal .modal-body #VisionDetailsCommentsLoading {
  padding: 10px;
  color: gray;
}
#VisionDetailsModal .modal-body #VisionDetailsCommentsContainer {
  max-height: 250px;
  overflow: scroll;
  margin: 5px;
  padding: 5px;
}
#VisionDetailsModal .modal-body #VisionDetailsCommentsContainer .VisionDetailsComment {
  font-size: 12px;
  line-height: 1.2;
  margin: 2px;
  padding: 2px 2px 2px 52px;
  position: relative;
  min-height: 45px;
}
#VisionDetailsModal .modal-body #VisionDetailsCommentsContainer .VisionDetailsComment .VisionDetailsCommentProfile {
  position: absolute;
  top: 2px;
  left: 2px;
  margin: 0px 6px;
  width: 40px;
  height: 40px;
}
#VisionDetailsModal .modal-body #VisionDetailsCommentsContainer .VisionDetailsComment .VisionDetailsCommentUserLink {
  font-size: 14px;
  line-height: 1.5;
}
#VisionDetailsModal .modal-body #VisionDetailsCommentsContainer .VisionDetailsComment .VisionDetailsCommentText {
  font-size: 12px;
  line-height: 1.2;
}
#VisionDetailsModal .modal-body #VisionDetailsAddCommentContainer {
  font-size: 12px;
  line-height: 1.2;
  margin: 2px 12px;
  padding: 2px 2px 2px 55px;
  position: relative;
  min-height: 45px;
}
#VisionDetailsModal .modal-body #VisionDetailsAddCommentContainer #VisionDetailsAddCommentPicture {
  position: absolute;
  top: 2px;
  left: 2px;
  margin: 3px 6px;
  width: 40px;
  height: 40px;
  background-color: #EEEEEE;
}
#VisionDetailsModal .modal-body #VisionDetailsAddCommentContainer #VisionDetailsAddComment {
  width: 400px;
  height: 40px;
}
