//
// index.less
//
// Main css page
//

@import "base";

@VisionBackgroundColor: #FFFFFF;
@VisionToolbarColor: #FFFFFF;
@VisionToolbarBorderColor: #FFFFFF;
@VisionToolbarBackgroundColor: rgba(0,0,0,.3);

@VisionOverlayBackgroundColor: rgba(255,255,255,.5);
@VisionOverlayBorderColor: #AAAAAA;
@VisionOverlaySelectedBorderColor: #33AA33;


@FeedbackSavingColor: black;
@FeedbackSavingBackgroundColor: rgba(204,204,204,.9);
@FeedbackSavedColor: black;
@FeedbackSavedBackgroundColor: rgba(0,255,0,.8);
@FeedbackErrorColor: red;
@FeedbackErrorBackgroundColor: rgba(255,204,204,.9);


#InfoContainerPadding {
    height:50px;
}

#ContentContainer {
    margin-bottom:20px;
    padding:0px 21px 21px 21px;
}

#MasonryContainer {
    overflow: hidden;

    // This is added and removed when we move the vision w/ jquery ui sortable
    li.MasonryItem {
        float: left;
    }
    li.MasonryBox {
        width: 285px;
        margin: 7px;
        border: 0px;
        padding: 0px;
        float: left;
        background-color: @VisionBackgroundColor;
        overflow: hidden;
        cursor: default;
        list-style-type: none;

    }

    .MasonryItemUnselected {
        border: 1px solid #DDDDDD;
    }
    .MasonryItemSelected {
        border: 1px solid @LogoColor;
    }
    .MasonryItemPointerCursor {
        cursor: pointer;
    }
    .MasonryItemMoveCursor {
        cursor: move;
    }

    .MasonryItemInner {
        padding: 4px;
        position:relative;
    }

    .VisionOverlay {
        display: none;
        position:absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255,.5);
        z-index: 1;
    }
    .AddVisionOverlayText {
        position:absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        margin-left:-50px;
        margin-top:-25px;
        padding: 4px 12px;
        text-align: center;
        background-color: @VisionOverlayBackgroundColor;
        border: 1px solid @VisionOverlayBorderColor;
    }
    .RemoveVisionOverlayText {
        position:absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        margin-left:-55px;
        margin-top:-25px;
        padding: 4px 12px;
        text-align: center;
        background-color: @VisionOverlayBackgroundColor;
        border: 1px solid @VisionOverlaySelectedBorderColor;
        color: green;
    }

    .VisionToolbar {
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 1;

        .VisionToolbarButton {
            display:inline-block;
            font-size:10pt;
            line-height:1.2;
            margin:2px 2px 2px 0px;
            padding:3px;
            border:1px solid @VisionToolbarBorderColor;
            background-color: @VisionToolbarBackgroundColor;
            color: @VisionToolbarColor;
            .RoundBorder(3px);
        }
        .VisionToolbarButton:hover {
            background-color: lighten(@VisionToolbarBackgroundColor, 20%);
            cursor: pointer
        }
    }
}

// This button is in the edit vision modal
#VisionDeleteButton {
    float:right;
    font-size:15px;
}
#VisionDeleteButton:hover {
    text-decoration: underline;
    cursor: pointer;
}

//
// Styles for the notifications during AJAX calls
//
#UserFeedbackSaving {
    display: none;
    float:right;
    margin-top:5px;
    margin-right:5px;
    color: @FeedbackSavingColor;
    background-color: @FeedbackSavingBackgroundColor;
    padding: 3px;
    font-size:12pt;
    line-height:1.2;
    .RoundBorder(3px);
}
#UserFeedbackSaved {
    display: none;
    float:right;
    margin-top:5px;
    margin-right:5px;
    color: @FeedbackSavedColor;
    background-color: @FeedbackSavedBackgroundColor;
    padding: 3px;
    font-size:12pt;
    line-height:1.2;
    .RoundBorder(3px);
}
#UserFeedbackError {
    display: none;
    float:right;
    margin-top:5px;
    margin-right:5px;
    color: @FeedbackErrorColor;
    background-color: @FeedbackErrorBackgroundColor;
    padding: 3px;
    font-size:12pt;
    line-height:1.2;
    .RoundBorder(3px);
}

#FileUploadInput {
    margin: 5px;
    border:1px solid #CCCCCC;
    padding: 2px 5px 4px 5px;
    .RoundBorder(4px);
}

// $eof
