/*
    index.less

    Main Page
*/

@import "base";
@import "elements";

/*
    The Styles!
*/

//Vision Styles
@VISION_WIDTH: 275px;
@VISION_MARGIN: 6px;
@VISION_PADDING: 12px;
@VISION_BACKGROUND: #FAFAFA;
@PICTURE_WIDTH: 100%;
@TEXT_BACKGROUND: white;
@TEXT_PADDING: 3px;
@VISION_TEXT_SIZE: 14px;
@VISION_LINE_HEIGHT: 1.4;
@VISION_COMMENT_TEXT_SIZE: 12px;
@VISION_COMMENT_LINE_HEIGHT: 1.4;

@VISION_DETAILS_WIDTH: 530px;


//Explanation
@EXPLANATION_SIZE: 600px;
@EXPLANATION_PADDING: 155px;

@HOME_PAGE_PADDING: 25px;

//Instructions
//Instructions_Width = explanation - 2*(well padding) - 2px
@INSTRUCTIONS_WIDTH: @EXPLANATION_SIZE - 2*19 - 2;
@INSTRUCTIONS_HEIGHT: 45px;
@INSTRUCTIONS_MARGIN_BOTTOM: 10px;
@TEXT_COLOR: #666;
@INSTRUCTIONS_TAGLINE_SIZE: 18px;
@MOTIVATION_TEXT_SIZE: 17px;
@INSTRUCTIONS_TEXT_SIZE: 15px;
@BUTTON_MARGIN_TOP: 12px;
@EXAMPLE_VISION_BOARD_HEIGHT: @INSTRUCTIONS_HEIGHT;// + 25px;
@SMALL_SPACER_HEIGHT: 8px;
//TODO: make this uniform
@INSTRUCTIONS_PADDING_HEIGHT: @EXAMPLE_VISION_BOARD_HEIGHT + 26px;

//On Hover
@ACT_ON_VISION_NOT_AUTHENTICATED_INSET: @VISION_PADDING+4;
@OVERLAY_MARGIN: @VISION_PADDING+4;

@MODAL_HEADER_FONT_SIZE: 24px;
@MODAL_BODY_FONT_SIZE: 16px;

//Onboarding
@ONBOARDING_MODAL_WIDTH: 660px;
@ONBOARDING_MODAL_BODY_HEIGHT: 325px;
@ONBOARDING_TEXT_COLOR: #555;
/* Begin Augmenting Bootstrap */
.navbar-inner {
    z-index: 1 !important;
}
.modal-backdrop {
    background-color: @VISION_BACKGROUND !important;
}

.modal.fade {
  -webkit-transition: opacity 0.3s linear;
     -moz-transition: opacity 0.3s linear;
       -o-transition: opacity 0.3s linear;
          transition: opacity 0.3s linear;
}

/* End Augmenting Bootstrap */

/* Base Styles */

.LightShadow
{
     //Shadow and Border
    -webkit-transition: -webkit-transform .15s linear;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    box-shadow: 0 3px 6px rgba(0,0,0,.25);
}

.DarkShadow
{
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5);
    box-shadow: 0 3px 6px rgba(0,0,0,.5);
}


//Emphasize certain words
.emphasis
{
    font-weight:bold;
}
/* End Base Styles */


.VisionPlaceholder {
    background-color: darken(@VISION_BACKGROUND, 5%) !important;
}

.Vision
{
    position: relative;
    width:@VISION_WIDTH;
    margin:@VISION_MARGIN;
    padding:@VISION_PADDING;

    background-color:@VISION_BACKGROUND;

    //font-family: 'Marker Felt', sans-serif;

    //To Do: Change this to a div
    list-style-type: none;

    .LightShadow;

    //The Picture
    img 
    {
        //TODO: Change this to a fixed width for the picture
        //Once we decide
        width:@PICTURE_WIDTH;
    }

    //The Text
    .text
    {
        background-color:@TEXT_BACKGROUND;
        padding: @TEXT_PADDING 0px;
        font-size: @VISION_TEXT_SIZE;
        line-height: @VISION_LINE_HEIGHT;
    }

    .VisionPicture:hover {
        .CursorPointer;
    }
    img.Zoom:hover {
        .CursorZoomIn;
    }

    .VisionOverlay {
        position:absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        //height: 100%;
        //background-color: rgba(255,255,255,.5);
        z-index: 1;
    }
    .AddVisionOverlayText {
        position:absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        margin-left:-50px;
        margin-top:-25px;
        padding: 4px 12px;
        text-align: center;
        background-color: @VisionOverlayBackgroundColor;
        border: 1px solid @VisionOverlayBorderColor;
        .RoundBorder(3px);
        .BoxShadow();
    }
    .RemoveVisionOverlayText {
        position:absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        margin-left:-55px;
        margin-top:-25px;
        padding: 4px 12px;
        text-align: center;
        background-color: @VisionOverlaySelectedBackgroundColor;
        border: 1px solid @VisionOverlaySelectedBorderColor;
        color: green;
        .RoundBorder(5px);
        .BoxShadow();
    }
    .VisionUserBlock {
        position:relative;
        padding:3px 0px;
        font-size:12px;
        color:gray;
        z-index:10;
    }
    .VisionUserName {
        font-weight: bold;
    }

    .MoreComments {
        font-size: @VISION_COMMENT_TEXT_SIZE;
        line-height: @VISION_COMMENT_LINE_HEIGHT;
        padding: 5px 0px;
        color: gray;
    }
    .MoreComments:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    .VisionCommentContainer {
        z-index: 1;
    }
    .VisionComment {
        font-size: @VISION_COMMENT_TEXT_SIZE;
        line-height: @VISION_COMMENT_LINE_HEIGHT;
        margin: 5px 0px;
        padding-left: 37px; 
        position: relative;
        min-height: 30px;

        .VisionCommentProfile {
            position: absolute;
            top: 3px;
            left: 0px;
            margin:0px;
            width:30px;
            height:30px;
            float:left;
        }
        .VisionLikeInfo {
            font-size: 11px;
        }
    }
    .AddVisionComment {
        font-size:12px;
        line-height:1.2;
        margin-top: 5px;
        padding-left: 37px; 
        position: relative;
        min-height: 30px;

        .AddVisionCommentProfile {
            position: absolute;
            top: 0px;
            left: 0px;
            margin: 0px;
            width:30px;
            height:30px;
            float:left;
        }
        .AddVisionCommentInput {
           width:225px;
           height: 20px;
           margin: 0px;
           font-size: @VISION_COMMENT_TEXT_SIZE;
           line-height: @VISION_COMMENT_LINE_HEIGHT;
        }
    }

    .VisionToolbar {
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 1;

        .VisionToolbarButton {
            display:inline-block;
            font-size:10pt;
            line-height:1.2;
            margin:2px 2px 2px 0px;
            padding:4px;
            border:1px solid @VisionToolbarBorderColor;
            background-color: @VisionToolbarBackgroundColor;
            color: @VisionToolbarColor;
            .RoundBorder(3px);
        }
        .VisionToolbarButton:hover {
            background-color: lighten(@VisionToolbarBackgroundColor, 15%);
            cursor: pointer;
            .BoxShadow();
        }
    }


}

/* Selected Vision */
.VisionSelected 
{
   .DarkShadow;
}

#HomePageNav {
    width: 250px;
    margin-top: -5px;
    padding: 10px 5px 5px 5px;
    z-index: -1;
    position: relative;
    text-align: center;
    font-size: 14px;

    //Shadow
    .LightShadow;

    a.HomePageNavLink {
        margin: 0px 15px;
    }
}

/*
    Explanation
*/
#Explanation {

    width:@EXPLANATION_SIZE;
    height:150px;
    margin:auto;

    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.5);
    -moz-box-shadow: inset 0 -1px 0 rgba(0,0,0,.5);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.5);

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

    .DarkShadow;
    .rounded(4px);
    .opacity(.8);


}

#ExplanationPadding {
    height:@EXPLANATION_PADDING;
}

#HomePagePadding {
    height:@HOME_PAGE_PADDING;
}

/*
    Instructions
    Both (H + Example)
*/

#InstructionsPadding {
    height:@INSTRUCTIONS_PADDING_HEIGHT;
}

#Instructions, #ExampleVisionBoardInstructions
{
    width:@INSTRUCTIONS_WIDTH;
    margin:auto;
    padding-top:15px;
    margin-top: -5px;
    margin-bottom:@INSTRUCTIONS_MARGIN_BOTTOM;
    height:@INSTRUCTIONS_HEIGHT;

    position: relative;
    z-index: -1 !important;

    font-size:@INSTRUCTIONS_TEXT_SIZE; 
    color:@TEXT_COLOR;

    //Shadow
    .LightShadow;

    .Tagline {
        font-size: @INSTRUCTIONS_TAGLINE_SIZE;
        line-height: 1.5;
        font-weight: bold;
    }
    .InstructionsNote {
        font-size: @INSTRUCTIONS_TAGLINE_SIZE;
    }

    .Motivation {
        font-size:@MOTIVATION_TEXT_SIZE;
        margin-top:1px;
    }

    .MainButton
    {
        font-size: 16px;
        line-height: 1.2;
        padding: 10px 15px;
        font-weight: normal;
    }

    #RegularRegisterButton, #RegisterForm, #JoinSite
    {
        float: right;
    }

    #RegisterForm
    {
        width:100px;
    }    
    
    //After all of the (currently 3) required visions are selected
    //Hide the main tagline and make this bigger
    #SelectedThree
    {
        font-size:@INSTRUCTIONS_TAGLINE_SIZE;
        text-align:center;
        line-height:1.2;

        .Text {
            margin-top:16px;
            margin-left:90px;
            float:left;
        }

        #ViewExampleVisionBoardButton
        {
            float:left;
            margin-left:16px;
        }
    }
}

#ExampleVisionBoardInstructions
{
    height: @EXAMPLE_VISION_BOARD_HEIGHT;
}

.SmallSpacer
{
    height:@SMALL_SPACER_HEIGHT;
}
/*
    On Hover of Vision
*/

//Not logged in - "Add to your vision board"
.AddVisionNotAuthenticated, .RemoveVisionNotAuthenticated
{
    position:absolute;
    top:@ACT_ON_VISION_NOT_AUTHENTICATED_INSET;
    right:@ACT_ON_VISION_NOT_AUTHENTICATED_INSET;
}

.VisionIsPrivate
{
    position:absolute;
    top:@ACT_ON_VISION_NOT_AUTHENTICATED_INSET;
    right:@ACT_ON_VISION_NOT_AUTHENTICATED_INSET;
}

//Logged in - "Already have vision"
.AlreadyHaveVision
{
    position:absolute;
    top:@ACT_ON_VISION_NOT_AUTHENTICATED_INSET;
    left:@OVERLAY_MARGIN;
}

//The Overlays!
.Overlay
{
    position:absolute;
    top:@OVERLAY_MARGIN;
}

.Repost
{
    left:@OVERLAY_MARGIN;
}

.Move
{
    right:@OVERLAY_MARGIN;
}


/* 
    ----------------- Begin Onboarding Modal ------------------
*/

#OnboardingModal
{
    width:@ONBOARDING_MODAL_WIDTH;

    //To Center the modal
    margin-left:-@ONBOARDING_MODAL_WIDTH/2; 

    
    //Header
    .modal-header {
        font-size: @MODAL_HEADER_FONT_SIZE;
        //text-align:center;
    }

    .modal-body {
        padding-left:40px;
        padding-right:20px;

        font-size: @MODAL_BODY_FONT_SIZE;

        color: @ONBOARDING_TEXT_COLOR;

        img {
            text-align: center;
            margin: 5px;
        }

        div {
            padding-bottom: 15px;

            ul, ol {
                li {
                    padding: 10px 0px;
                }
            }
        }
        .Hint {
            padding: 8px 10px;
            font-size: 14px;
            line-height: 1.2;
        }
    }

}

/* 
    ----------------- End ------------------
*/







//Logged in




/*
 * Feed
 */
#Feed {
    margin: 15px auto 25px auto;
    width: 600px;

    h2 {
        margin-left:10px;
    }

    .Activity {
        margin: 0px 10px 30px 10px;
        min-height: 50px;
        padding: 0px 0px 0px 60px;
        position: relative;

        .Picture {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 50px;
            height: 50px;
        }
        .CommentBox {
            position: relative;
            padding: 18px 18px 5px 55px;

            .CommentText {
                font-size: 16px;
                font-style: italic;
            }
            .CommentText:before {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 50px;
                height: 50px;
                background-image: url('https://s3.amazonaws.com/project-awesome-static/gen/img/quote-icon.png');
                z-index:1;
                content:"";
            }

        }
        .Time {
            color: gray;
            font-size: 12px;
            line-height: 1.4;
        }

        .VisionContainer {
            width: @VISION_WIDTH + @VISION_PADDING + @VISION_PADDING;
            margin: 10px auto;
        }
    }
}


/*
    Delete
*/

.RoundBorder(@radius: 3px) {
    -moz-border-radius: @radius;
    border-radius: @radius;
}

.BoxShadow() {
    -webkit-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 2px 5px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 2px 5px rgba(50, 50, 50, 0.75);
}


@VisionBackgroundColor: #FFFFFF;
@VisionToolbarColor: #000000;
@VisionToolbarBorderColor: #888888;
@VisionToolbarBackgroundColor: #F8F8F8;

@VisionOverlayBackgroundColor: #F8F8F8;
@VisionOverlayBorderColor: #888888;
@VisionOverlaySelectedBackgroundColor: #F8F8F8;
@VisionOverlaySelectedBorderColor: #888888;


@FeedbackSavingColor: black;
@FeedbackSavingBackgroundColor: rgba(204,204,204,.9);
@FeedbackSavedColor: black;
@FeedbackSavedBackgroundColor: rgba(0,255,0,.8);
@FeedbackErrorColor: red;
@FeedbackErrorBackgroundColor: rgba(255,204,204,.9);


#InfoContainerPadding {
    height:50px;

}

#InfoContainer
{
    position: absolute; top:100%; left: 50%;
    width: 520px; margin-left:-260px; height:40px; 
    z-index:-1; background-color: #FCE3ED; padding:5px 15px;
    border-bottom: 1px #E391B2 solid;
    border-left: 1px #E391B2 solid;
    border-right: 1px #E391B2 solid;
}

#UserInformation {
    width: 410px;
    margin-top: 20px;
    padding: 10px 10px 10px 190px;
    overflow: hidden;
    position: relative;
    height: 155px;

    background-color:@VISION_BACKGROUND;
    .LightShadow;


    #SetProfilePictureContainer {
        position: absolute;
        bottom: 13px;
        left: 13px;
        margin: 0px;

        #SetProfilePictureSwitch:hover {
            text-decoration: underline;
            .CursorPointer;
        }
        #SetProfilePictureForm {
            position: absolute;
            bottom: 19px;
            left: 0px;
            margin: 0px;
        }
    }

    #UserInformationBar {
        position: absolute;
        bottom: 10px;
        left: 190px;

        .Follows:hover, .Followers:hover {
            text-decoration: underline;
            .CursorPointer;
        }
    }
    .FollowButton {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    #UserProfilePicture {
        position:absolute;
        top: 10px;
        left: 10px;
        width: 155px;
        height: 155px;
    }
    #UserName {
        font-size: 30px;
        line-height: 1.2;
    }
    #UserDescription {
    }
    #NoUserDescription {
        font-style: italic;
        padding: 3px;
        margin:3px 0px;
    }
    .NoUserDescriptionNotActive {
        border: 1px solid @VISION_BACKGROUND;
    }
    .NoUserDescriptionActive {
        border: 1px gray dotted;
        cursor: pointer;
    }

    #SetUserDescriptionContainer {
        padding: 10px 30px 10px 0px;

        #UserDescriptionInput {
            width: 365px;
            height: 40px;
        }
        #UserDescriptionSubmit {
            float: right;
        }
        #UserDescriptionLength {
            float: right;
            padding: 5px 10px;
            color: gray;
        }
    }
}

#ContentContainer {
    margin-bottom:20px;
    padding:0px 21px 21px 21px;
}

#ContentSize {
    width:75%;
    float:left;
}
#Content, #ExampleVisionBoard {
    overflow: hidden;
    margin-top:15px;
    margin-bottom:15px;
}

.VisionLikeInfo {
    color: gray;
    font-size:12px;
    line-height: 1.2;
    overflow: hidden;

    .VisionLike {
        margin-right: 15px;
    }
    .VisionLike:hover {
        text-decoration: underline;
        .CursorPointer;
    }
    .VisionLikeCount { 
        margin-right: 15px;

        .VisionThumbsUp {
            margin-top: 0px;
        }
    }
    .VisionLikeCount:hover {
        text-decoration: underline;
        .CursorPointer;
    }
}

//
// Styles for the notifications during AJAX calls
//
#UserFeedbackSaving {
    display: none;
    float:right;
    margin-top:5px;
    margin-right:5px;
    color: @FeedbackSavingColor;
    background-color: @FeedbackSavingBackgroundColor;
    padding: 3px;
    font-size:12pt;
    line-height:1.2;
    .RoundBorder(3px);
}
#UserFeedbackSaved {
    display: none;
    float:right;
    margin-top:5px;
    margin-right:5px;
    color: @FeedbackSavedColor;
    background-color: @FeedbackSavedBackgroundColor;
    padding: 3px;
    font-size:12pt;
    line-height:1.2;
    .RoundBorder(3px);
}
#UserFeedbackError {
    display: none;
    float:right;
    margin-top:5px;
    margin-right:5px;
    color: @FeedbackErrorColor;
    background-color: @FeedbackErrorBackgroundColor;
    padding: 3px;
    font-size:12pt;
    line-height:1.2;
    .RoundBorder(3px);
}

#FileUploadInput {
    margin: 5px;
    border:1px solid #CCCCCC;
    padding: 2px 5px 4px 5px;
    .RoundBorder(4px);
}

// This overrides the bootstrap modal slide-down animation
// Moved to the top - override general
#VisionDetailsModal.fade {
    top: 300px;
}

.NoScroll {
    overflow: hidden !important;
}

#VisionDetailsModal {
    overflow: scroll;
    position: fixed;
    width:100% !important;
    top: 0px !important;
    left: 0px !important;
    right: 0px !important;
    bottom: 0px !important;
    margin: 0px !important;
    padding: 0px !important;
    z-index: 5000;
    background-color: fadeout(white, 20%);

    .CursorZoomOut;
}
// This modal must be above the vision details modal
div.modal-backdrop {
    z-index: 5001;
}
div.modal {
    z-index: 5002;
}

#VisionInformation {
    width: @VISION_DETAILS_WIDTH;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;

    .Center;
}

#VisionDetailsModal, #VisionInformation {

    #VisionDetailsModalBox {
        width: @VISION_DETAILS_WIDTH;
        background-color: white;
        margin-top: 20px;
        margin-bottom: 20px;
        overflow:hidden;

        .CursorDefault;

        opacity: 1;
        filter: alpha(opacity=100);

        border: 1px solid rgba(0, 0, 0, 0.3);
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        outline: none;
        -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
        box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding-box;
        background-clip: padding-box;

        .Center;
    }

    .modal-header {
        font-size: @MODAL_HEADER_FONT_SIZE;

        #VisionDetailsName {
        }
    }

    .modal-body {
        min-height: 250px;
        max-height: 1000000px;
        padding: 30px;

        #VisionDetailsPictureContainer {
            background-color: #EEEEEE;
            max-height: 600px;
            overflow: hidden;
            text-align: center;

            #VisionDetailsPicture {
            }
        }

        #VisionDetailsInfoContainer {
            margin: 10px 0px;

            #VisionDetailsTextContainer {
                position: relative;

                #VisionDetailsEditText {
                    position: absolute;
                    top: -5px;
                    right: 0px;
                    z-index: 1;
                }
            }
            #VisionDetailsEditForm {
                position: relative;
                overflow: hidden;

                #VisionDetailsTextInput {
                    float: left;
                    width: 350px;
                    height: 60px;
                    margin-bottom: 0px;
                }

                #VisionDeleteConfirmation {
                    position: absolute;
                    top: 0px;
                    right: 10px;
                    z-index: 1;
                    font-size: 13px;
                    text-decoration: none;
                    background-color: white;
                    border: 1px gray solid;
                    width: 113px;
                    padding: 5px;
                    margin: 0px 10px;

                    .rounded;
                    .LightShadow;
                }

                // This button is in the edit vision modal
                #VisionDeleteButton {
                    float:left;
                    font-size:11px;
                    width: 90px;
                    margin: 0px 0px 0px 15px;
                    height: 20px;
                }
                #VisionDeleteButton:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }

                #VisionDetailsPrivacyBox {
                    margin: 0px 0px 0px 15px;
                    width: 90px;
                    font-size: 11px;
                    float: left;
                }
                #VisionDetailsEditSubmit {
                    float: left;
                    margin: 4px 0px 0px 15px;
                }
            }
        }

        #VisionDetailsTimeCreated {
            font-size: 12px;
            color: gray;
            line-height: 1.2;
            margin: 5px 0px 15px 0px;
        }

        #VisionDetailsCommentsLoading {
            padding: 10px;
            color: gray;
        }

        #VisionDetailsCommentsContainer {
            max-height: 340px;
            overflow: scroll;
            margin: 10px 0px;

            .VisionDetailsComment {
                font-size:12px;
                line-height:1.2;
                margin: 5px 0px;
                padding-left: 55px; 
                position: relative;
                min-height: 45px;

                .VisionDetailsCommentProfile {
                    position: absolute;
                    top: 5px;
                    left: 0px;
                    width:45px;
                    height:45px;
                }
                .VisionDetailsCommentUserLink {
                    font-size: 14px;
                    line-height: 1.5;
                    margin-bottom: 2px;
                }
                .VisionDetailsCommentText {
                    font-size: 12px;
                    line-height: 1.2;
                    margin-bottom: 2px;
                }
                .VisionDetailsCommentTime {
                    font-size: 11px;
                    color: gray;
                    line-height: 1.2;
                }
                .VisionLikeInfo {
                    font-size: 11px;
                    line-height: 1.2;
                    margin-top: 3px;
                }
            }
        }
        #VisionDetailsAddCommentContainer {
            font-size:12px;
            line-height:1.2;
            padding-left: 55px; 
            position: relative;
            min-height: 45px;

            #VisionDetailsAddCommentPicture {
                position: absolute;
                top: -3px;
                left: 0px;
                width:45px;
                height:45px;
                background-color: #EEEEEE;
            }
            #VisionDetailsAddComment {
                width: 405px;
                min-height: 32px;
                height: 32px;
            }
        }

        .VisionDetailsSection {
            overflow: hidden;

            #VisionDetailsSectionTitle {
                margin-top: 25px;
                padding: 5px 0px;
                border-top: 1px solid #EEE;
                font-size:16px;
                line-height: 1.3;
                color: #333;
            }

            .VisionPreview {
                float: left;
                margin-right: 10px;
                width: 68px;
                
                .VisionPreviewPicture{
                    display: block;
                    width: 65px;
                    height: 65px;
                    margin: 3px;
                }
            }

            .VisionDetailsRepostUser {
                float: left;
                margin-right: 10px;
                width: 75px;

                .VisionDetailsRepostUserPicture {
                    display: block;
                    width: 75px;
                    height: 75px;
                }
                .VisionDetailsRepostUserName {
                    font-size: 11px;
                    line-height: 1.3;
                    margin: 3px 0px;
                }
            }
        }
    }
}

#UserListModal {
    .UserListBody {
        min-height: 150px;
        overflow: scroll;

        .User {
            overflow: hidden;
            position: relative;
            padding: 0px 90px 10px 60px;
            min-height: 50px;

            .Picture {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 50px;
                height: 50px;
            }
            .Name {
                font-size: 16px;
                line-height: 1.2;
            }
            .Description {
                color: gray;
            }
            .FollowButton {
                position: absolute;
                top: 0px;
                right: 0px;
            }
        }
    }
}

// $eof
