/*
    base.less
    
    Base file for styles
*/
html,
body,
#PageContainer {
  height: 100%;
}
body > #PageContainer {
  height: auto;
  min-height: 100%;
}
body {
  /*background-color: @BACKGROUND_COLOR;*/

  background-image: url('../img/patterns/creampaper.png');
}
#FooterPadding {
  height: 40px;
}
footer {
  width: 100%;
  height: 40px;
  margin-top: -40px;
  color: #999999;
  text-align: center;
}
.brand {
  position: absolute;
  margin: auto;
  width: 100%;
  left: 0;
  text-align: center;
}
/* move content below navbar -- could use margin/padding on content too */
#NavPadding {
  height: 40px;
}
#NavProfilePicture {
  width: 25px;
  height: 25px;
}
#InstructionsPadding {
  height: 80px;
}
/*
	Utility Styles
*/
.Hidden {
  display: none;
}
.Center {
  margin: 0 auto;
}
.ErrorNotice {
  color: red;
  background-color: rgba(255, 204, 204, 0.9);
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 10px 0px;
  padding: 5px;
}
#RegisterContainer {
  width: 510px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}
#RegisterContainer h1 {
  margin: 20px 0px 40px 0px;
}
#RegisterContainer .SubmitButton {
  float: right;
  margin-top: 10px;
}
.InputLarge {
  font-size: 20px !important;
  line-height: 1.5 !important;
  height: 30px !important;
  width: 310px !important;
}
.InputSmall {
  font-size: 20px !important;
  line-height: 1.5 !important;
  height: 30px !important;
  width: 137px !important;
  margin-right: 9px;
}
#DescriptionInput {
  font-size: 20px !important;
  line-height: 1.5 !important;
  width: 310px !important;
  height: 80px !important;
}
#SettingsBox {
  position: relative;
  margin-top: 50px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
#ProfilePictureContainer {
  position: absolute;
  top: 0px:
    left: 0px;
  width: 175px;
  margin-left: -15px;
}
#SettingsSubmitInput {
  float: right;
  margin-right: 97px;
}
#ProfilePicture {
  width: 175px;
  float: left;
}
