/*
    base.less
    
    Base file for styles
*/
body {
  /*background-color: @backgroundColor;*/

  background-image: url('../img/patterns/creampaper.png');
}
.brand {
  position: absolute;
  margin: auto;
  width: 100%;
  left: 0;
  text-align: center;
}
/*
	Utility Styles
*/
.hidden {
  display: none;
}
.centered {
  margin: 0 auto;
}
.ErrorNotice {
  color: red;
  background-color: rgba(255, 204, 204, 0.9);
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 10px 0px;
  padding: 5px;
}
label {
  font-size: 20px !important;
  line-height: 1.5 !important;
}
#RegisterContainer {
  width: 510px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}
#RegisterContainer h1 {
  margin: 20px 0px 40px 0px;
}
#RegisterContainer .SubmitButton {
  float: right;
  margin-top: 10px;
}
.InputLarge {
  font-size: 20px !important;
  line-height: 1.5 !important;
  height: 30px !important;
  width: 310px !important;
}
.InputSmall {
  font-size: 20px !important;
  line-height: 1.5 !important;
  height: 30px !important;
  width: 140px !important;
}
